<!doctype html>
<!--[if IE 9]> <html class="ie9 supports-no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="supports-no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>
    {{ shop.name }}
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta name="theme-color" content="{{ settings.color_primary }}">

  {{#if settings.favicon}}
    <link rel="shortcut icon" href="{{img_url settings.favicon '32x32'}}" type="image/png" />
  {{/if}}

  <link rel="canonical" href="{{ canonical_url }}">

  {{include 'social-meta-tags'}}

  {{ content_for_header }}

  {{stylesheet_tag (asset_url 'theme.scss.css')}}

  {{#if (contains settings.type_base_family 'Google')}}
    {{assign 'type_base_parts' (split settings.type_base_family '_')}}
    {{#capture 'base_google_url'}}{{get type_base_parts 1}}:400,700{{/capture}}
    {{stylesheet_tag (append '//fonts.googleapis.com/css?family=' base_google_url)}}
  {{/if}}
  {{#if (contains settings.type_accent_family 'Google')}}
    {{#unless (contains settings.type_accent_family (get type_base_parts 1))}}
      {{assign 'type_accent_parts' (split settings.type_accent_family '_')}}
      {{#capture 'accent_google_url'}}{{get type_accent_parts 1}}:400,700{{/capture}}
      {{stylesheet_tag (append '//fonts.googleapis.com/css?family=' accent_google_url)}}
    {{/unless}}
  {{/if}}

  {{script_tag (asset_url 'modernizr.min.js')}}
  {{script_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'}}

</head>

<body class="template-password text-center">

  <div class="password-page__wrapper text-center">

    {% body %}

    <footer role="contentinfo">
      {{#capture 'shopify'}}
        <a class="password__shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
          {{include 'icon-shopify-logo'}}
          <span class="icon__fallback-text">Shopify</span>
        </a>
      {{/capture}}
      {{t 'general.password_page.powered_by_shopify_html' shopify shopify}}
    </footer>

  </div>

  <div id="LoginModal" class="password-login text-center mfp-hide">
    <h3>{{t 'general.password_page.login_form_heading'}}</h3>
    {{#form 'storefront_password'}}
      {{default_errors form.errors}}
      <div class="input-group">
        <label for="password" class="label--hidden">{{t 'general.password_page.login_form_password_label'}}</label>
        <input type="password" name="password" id="Password" placeholder="{{t 'general.password_page.login_form_password_placeholder'}}" class="input-group__field">
        <div class="input-group__btn">
          <button type="submit" class="btn">
            {{t 'general.password_page.login_form_submit'}}
          </button>
        </div>
      </div>
    {{/form}}
    <p>{{t 'general.password_page.admin_link_html'}}</p>
  </div>

  <script>
    window.theme = window.theme || {};

    var theme = {
      mapStrings: {
        addressError: {{json (t 'homepage.map.address_error')}},
        addressNoResults: {{json (t 'homepage.map.address_no_results')}},
        addressQueryLimit: {{json (t 'homepage.map.address_query_limit_html')}},
        authError: {{json (t 'homepage.map.auth_error_html')}}
      }
    }
  </script>

  {{script_tag (asset_url 'theme.js')}}
</body>
</html>
