<!doctype html>
<!--[if IE 9]> <html class="ie9 supports-no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="supports-no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {{#if settings.favicon}}
    <link rel="shortcut icon" href="{{img_url settings.favicon '32x32'}}" type="image/png" />
  {{/if}}

  <title>
  {{{ page_title }}}{{#if current_tags}}{{assign 'meta_tags' (join current_tags ', ')}} &ndash; {{t 'general.meta.tags' tags meta_tags}}{{/if}}{{#if (isnt current_page 1)}} &ndash; {{t 'general.meta.page' page current_page}}{{/if}}{{#unless (contains page_title shop.name)}} &ndash; {{ shop.name }}{{/unless}}
  </title>

  {{#if page_description}}
    <meta name="description" content="{{escape page_description}}">
  {{/if}}

  {{include 'social-meta-tags'}}

  <script>
    document.documentElement.className = document.documentElement.className.replace('supports-no-js', 'supports-js');

    var theme = {
      mapStrings: {
        addressError: {{json (t 'homepage.map.address_error')}},
        addressNoResults: {{json (t 'homepage.map.address_no_results')}},
        addressQueryLimit: {{json (t 'homepage.map.address_query_limit_html')}},
        authError: {{json (t 'homepage.map.auth_error_html')}}
      }
    }
  </script>

  {{stylesheet_tag (asset_url 'theme.scss.css')}}

  <!-- Google Fonts -->
  {{#if (contains settings.type_base_family 'Google')}}
    {{assign 'type_base_parts' (split settings.type_base_family '_')}}
    {{#capture 'base_google_url'}}{{get type_base_parts 1}}:400,700{{/capture}}
    {{stylesheet_tag (append '//fonts.googleapis.com/css?family=' base_google_url)}}
  {{/if}}
  {{#if (contains settings.type_header_family 'Google')}}
    {{#unless (contains settings.type_header_family (get type_base_parts 1))}}
      {{assign 'type_header_parts' (split settings.type_header_family '_')}}
      {{#capture 'header_google_url'}}{{get type_header_parts 1}}:400,700{{/capture}}
      {{stylesheet_tag (append '//fonts.googleapis.com/css?family=' header_google_url)}}
    {{/unless}}
  {{/if}}

  {{ content_for_header }}

  {{script_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'}}
  {{script_tag (asset_url 'modernizr.min.js')}}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{asset_url 'lazysizes.min.js'}}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{asset_url 'lazysizes.min.js'}}"></script><![endif]-->

  {{#if (is template.directory 'customers')}}
    {{script_tag (shopify_asset_url 'shopify_common.js')}}
  {{/if}}
</head>

<body id="{{handle page_title}}" class="{{#if customer}}customer-logged-in {{/if}}template-{{handle (first (split template '.'))}}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{t 'general.accessibility.skip_to_content'}}</a>

  {{section "header"}}

    {{#comment}}
    <hr class="small--hide hr--small">
    {{/comment}}

  <div class="site-wrapper">

    <div class="grid">

      {{section "sidebar"}}

      <main class="main-content grid__item medium-up--four-fifths" id="MainContent" role="main">
        {{#unless (is template.name 'index')}}
          <hr class="hr--border-top small--hide">
        {{/unless}}
        {{#if (and settings.show_breadcrumb_nav (isnt template.name 'index'))}}
          {{include 'breadcrumb-nav'}}
        {{/if}}
        {% body %}
      </main>

    </div>

    <hr>

    {{section "footer"}}

  </div>

  {{#if (or (is template.name 'product') (is template.name 'index'))}}
    {{script_tag (shopify_asset_url 'option_selection.js')}}
    <script>
      // Set a global variable for theme.js to use on product single init
      window.theme = window.theme || {};
      theme.moneyFormat = {{json shop.money_format}};
      theme.productSingleObject = {{json product}};
    </script>
  {{/if}}

  {{script_tag (asset_url 'theme.js')}}
</body>
</html>
