{% layout 'password' %}
{% section 'password-header' %}
{% section 'password-content' %}

<div id="login-modal" class="mfp-hide">

  <h3 class="h4">{{ 'general.password_page.login_form_heading' | t }}</h3>

  {% form 'storefront_password' %}
    {{ form.errors | default_errors }}
    <label for="password" class="hidden-label">{{ 'general.password_page.login_form_password_label' | t }}</label>
    <div class="password-input-group clearfix">
      <input type="password" name="password" id="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}" autofocus>
      <input type="submit" class="btn btn--regular btn--fill btn--color" name="commit" value="{{ 'general.password_page.login_form_submit' | t }}">
    </div>
  {% endform %}

  <p class="password-form-heading">{{ 'general.password_page.admin_link_html' | t }}</p>

</div>

<script>
  $(function() {
    $('.js-toggle-login-modal').magnificPopup({
      type: 'inline',
      mainClass: 'mfp-fade',
      closeOnBgClick: false,
      closeBtnInside: false,
      closeOnContentClick: false,
      removalDelay: 1,
      callbacks: {
        open: function() {
          window.setTimeout( function() { document.getElementById('password').focus(); }, 50 );
        },
        close: function() {
          window.setTimeout( function() { document.getElementById('email').focus(); }, 50 );
        }
      }
    });
    if ( $('.storefront-password-form .errors').size() ) {
      $('.js-toggle-login-modal').click();
    }
  });
</script>