<div class="section-header text-center">
  <h1 class="article__title">{{ article.title }}</h1>
  {{#if section.settings.blog_show_author}}
    <span class="article__author">{{t 'blogs.article.by_author' author article.author}}</span>
  {{/if}}

  {{#if section.settings.blog_show_date}}
    <span class="article__date">
      {{time_tag article.published_at format 'month_day_year'}}
    </span>
  {{/if}}
</div>

<div class="rte" itemprop="articleBody">
  {{ article.content }}
</div>

{{#if section.settings.show_share_buttons}}
  {{include 'social-sharing",' share_title: article.title, share_permalink: article.url, share_image: article.image}}
{{/if}}

{{#schema}}
  {
    "name": "Posts",
    "settings": [
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{{/schema}}
