{{#paginate blog.articles by=12}}

<div class="page-width">
  <header class="section-header text-center">
    <h1>{{{ page_title }}}</h1>
    {{#if (gt blog.tags.size 0)}}
      <select id="BlogTagFilter">
        <option value="/blogs/{{ blog.handle }}">{{t 'blogs.article.all_topics'}}</option>
        {{#each blog.all_tags as |tag|}}
          <option value="/blogs/{{ blog.handle }}/tagged/{{handleize tag}}" {{#if (contains current_tags tag)}}selected{{/if}}>{{ tag }}</option>
        {{/each}}
      </select>
    {{/if}}
  </header>
</div>

<div class="{{#if (is section.settings.layout 'list')}}blog--list-view{{/if}}">
  {{#if (is section.settings.layout 'grid')}}
    <div class="page-width">
      <div class="grid grid--uniform grid--blog">
        {{#each blog.articles as |article|}}
          <div class="grid__item medium-up--one-third">
            {{#if article.image}}
              {{#capture 'img_id'}}ArticleImage-{{ article.image.id }}{{/capture}}
              {{#capture 'img_wrapper_id'}}ArticleImageWrapper-{{ article.image.id }}{{/capture}}
              {{assign 'img_url' (replace (img_url article.image '1x1') '_1x1.' '_{width}x.')}}

              {{include 'image-style' image: article.image, small_style: true, width: 345, height: 345, wrapper_id: img_wrapper_id, img_id: img_id}}

              <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper js">
                <a href="{{ article.url }}" style="padding-top:{{times (divided_by 1 article.image.aspect_ratio) 100}}%;" class="article__grid-image-container">
                  <img id="{{ img_id }}"
                       class="article__grid-image lazyload"
                       src="{{img_url article.image '300x300'}}"
                       data-src="{{ img_url }}"
                       data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                       data-aspectratio="{{ article.image.aspect_ratio }}"
                       data-sizes="auto"
                       alt="{{escape article.image.alt}}">
                </a>
              </div>

              <noscript>
                <a href="{{ article.url }}" class="article__grid-image-wrapper">
                  {{img_tag (img_url article '345x' scale 2) article.title 'article__grid-image'}}
                </a>
              </noscript>
            {{/if}}

            <div class="article__grid-meta{{#if article.image}} article__grid-meta--has-image{{/if}}">
              <h2 class="article__title h3">
                <a href="{{ article.url }}">{{ article.title }}</a>
              </h2>

              {{#if section.settings.blog_show_author}}
                <span class="article__author">{{t 'blogs.article.by_author' author article.author}}</span>
              {{/if}}

              {{#if section.settings.blog_show_date}}
                <span class="article__date">
                  {{time_tag article.published_at format 'month_day_year'}}
                </span>
              {{/if}}

              <div class="rte article__grid-excerpt">
                {{#if (gt article.excerpt.size 0)}}
                  {{ article.excerpt }}
                {{else}}
                  {{truncate (strip_html article.content) 150}}
                {{/if}}
              </div>

              {{#if (gt article.tags.size 0)}}
                <div class="article__tags rte">
                  {{#each article.tags as |tag|}}
                    <a href="{{ blog.url }}/tagged/{{handle tag}}" class="article__grid-tag">{{ tag }}</a>
                  {{/each}}
                </div>
              {{/if}}

              <ul class="list--inline">
                <li>
                  <a href="{{ article.url }}" class="btn btn--secondary btn--small">
                    {{t 'blogs.article.read_more'}}
                  </a>
                </li>

                {{#if (and blog.comments_enabled (gt article.comments_count 0))}}
                  <li>
                    <a href="{{ article.url }}#comments" class="btn btn--small btn--link">
                      {{t 'blogs.comments.comments_with_count' count article.comments_count}}
                    </a>
                  </li>
                {{/if}}
              </ul>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  {{else}}
    {{#each blog.articles as |article|}}
      <div class="border-top">
        <div class="page-width">
          <div class="grid">
            <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
              <div class="article--listing">
                <h2 class="article__title h3"><a href="{{ article.url }}">{{ article.title }}</a></h2>
                {{#if section.settings.blog_show_author}}
                  <span class="article__author">{{t 'blogs.article.by_author' author article.author}}</span>
                {{/if}}

                {{#if section.settings.blog_show_date}}
                  <span class="article__date">
                    {{time_tag article.published_at format 'month_day_year'}}
                  </span>
                {{/if}}

                {{#if article.image}}
                  {{#capture 'img_id'}}ArticleImage-{{ article.image.id }}{{/capture}}
                  {{#capture 'img_wrapper_id'}}ArticleImageWrapper-{{ article.image.id }}{{/capture}}
                  {{assign 'img_url' (replace (img_url article.image '1x1') '_1x1.' '_{width}x.')}}

                  {{include 'image-style' image: article.image, small_style: false, width: 905, height: 600, wrapper_id: img_wrapper_id, img_id: img_id}}

                  <div id="{{ img_wrapper_id }}" class="article__list-image-wrapper js">
                    <a href="{{ article.url }}" style="padding-top:{{times (divided_by 1 article.image.aspect_ratio) 100}}%;" class="article__list-image-container">
                      <img id="{{ img_id }}"
                           class="article__list-image lazyload"
                           src="{{img_url article.image '300x300'}}"
                           data-src="{{ img_url }}"
                           data-widths="[180, 360, 540, 720, 905, 1090, 1296, 1512, 1728, 2048]"
                           data-aspectratio="{{ article.image.aspect_ratio }}"
                           data-sizes="auto"
                           alt="{{escape article.image.alt}}">
                    </a>
                  </div>

                  <noscript>
                    <p>
                      <a href="{{ article.url }}">
                        {{img_tag (img_url article '455x300' scale 2) article.title}}
                      </a>
                    </p>
                  </noscript>
                {{/if}}

                <div class="rte">
                  {{#if (gt article.excerpt.size 0)}}
                    {{ article.excerpt }}
                  {{else}}
                    {{truncate (strip_html article.content) 150}}
                  {{/if}}
                </div>

                {{#if (gt article.tags.size 0)}}
                  <div class="article__tags article__tags--list rte">
                    {{t 'blogs.article.posted_in'}}
                    {{#each article.tags as |tag|}}
                      <a href="{{ blog.url }}/tagged/{{handle tag}}">{{ tag }}</a>{{#unless forloop.last}}, {{/unless}}
                    {{/each}}
                  </div>
                {{/if}}

                <ul class="list--inline article__meta-buttons">
                  {{#if (gt article.excerpt.size 0)}}
                    <li>
                      <a href="{{ article.url }}" class="btn btn--secondary btn--small">
                        {{t 'blogs.article.read_more'}}
                      </a>
                    </li>
                  {{/if}}

                  {{#if (and blog.comments_enabled (is article.comments_count 0))}}
                    <li>
                      <a href="{{ article.url }}#comment_form" class="btn btn--secondary btn--small">
                        {{t 'blogs.comments.title'}}
                      </a>
                    </li>
                  {{/if}}

                  {{#if (and blog.comments_enabled (gt article.comments_count 0))}}
                    <li>
                      <a href="{{ article.url }}#comments" class="btn btn--secondary btn--small">
                        {{t 'blogs.comments.comments_with_count' count article.comments_count}}
                      </a>
                    </li>
                  {{/if}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  {{/if}}

  {{#if (gt paginate.pages 1)}}
    {{include 'pagination'}}
  {{/if}}
</div>

{{/paginate}}

{{#schema}}
  {
    "name": "Blog pages",
    "settings": [
      {
        "type": "select",
        "id": "layout",
        "label": "Layout",
        "default": "list",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      }
    ]
  }
{{/schema}}
