<div class="page-width">
  {{#if (isnt section.settings.title blank)}}
    <div class="section-header text-center">
      <h2>{{escape section.settings.title}}</h2>
    </div>
  {{/if}}

  {{#is section.settings.grid 2}}
      {{assign 'grid_item_width' 'medium-up--one-half'}}
    {{else is section.settings.grid 3}}
      {{assign 'grid_item_width' 'small--one-half medium-up--one-third'}}
    {{else is section.settings.grid 4}}
      {{assign 'grid_item_width' 'small--one-half medium-up--one-quarter'}}
    {{else is section.settings.grid 5}}
      {{assign 'grid_item_width' 'small--one-half medium-up--one-fifth'}}
{{/is}}

  <div class="collection-grid">
    <div class="grid grid--uniform">
      {{#each (limit section.blocks undefined) as |block|}}
        <div class="grid__item {{ grid_item_width }}" {{ block.shopify_attributes }}>
          {{assign 'collection' (get collections block.settings.collection)}}
          {{include 'collection-grid-item'}}
        </div>
      {{/each}}
    </div>
  </div>

  {{#if (is section.blocks.size 0)}}
    {{include 'no-blocks'}}
  {{/if}}
</div>

{{#schema}}
  {
    "name": "Collection list",
    "class": "index-section",
    "max_blocks": 12,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Collections per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 3
      }
    ],
    "blocks": [
      {
        "type": "featured_collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          },
          {
            "type": "featured_collection"
          }
        ]
      }
    ]
  }
{{/schema}}
