<div class="featured-blog featured-blog--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="featured-blog">

  <div class="page-width">
    {{#if (isnt section.settings.title blank)}}
      <h2 class="featured-blog__heading section-header__title text-center" data-animate>{{escape section.settings.title}}</h2>
    {{/if}}

    {{assign 'blog' (get blogs section.settings.blog)}}
    {{assign 'mobileColumns' 1}}

    {{#unless (is blog.articles.size 1)}}
      {{#is section.settings.post_limit 3}}
          {{assign 'desktopColumns' 3}}
          {{assign 'width' 'medium-up--one-third'}}
        {{else is section.settings.post_limit 2}}
          {{assign 'desktopColumns' 2}}
          {{assign 'width' 'medium-up--one-half'}}
        {{else is section.settings.post_limit 1}}
          {{assign 'desktopColumns' 1}}
          {{assign 'width' 'one-whole'}}
        {{else}}
          {{assign 'desktopColumns' 3}}
          {{assign 'width' 'medium-up--one-third'}}
      {{/is}}
    {{/unless}}

    {{#capture 'emptyBlog'}}
      <div class="card-list grid" data-desktop-columns="{{ desktopColumns }}" data-mobile-columns="{{ mobileColumns }}">
        <div class="card-list__column grid__item {{ width }}{{#if (is mobileColumns 2)}} small--one-half{{/if}}">
          {{#each (range 1 section.settings.post_limit) as |i|}}
            <div class="card critical-clear" data-animate>
              <a class="card__wrapper card--article">
                {{#if section.settings.blog_show_image}}
                  {{#if (is section.settings.post_limit 1)}}
                    <div class="medium-up--one-half card-list__column--half-left">
                  {{/if}}
                  <div class="card__image-wrapper">
                    {{#capture 'current'}}{{cycle 1 2 3 4 5 6}}{{/capture}}
                    {{placeholder_svg_tag (append 'collection-' current) 'placeholder-svg'}}
                  </div>
                  {{#if (is section.settings.post_limit 1)}}
                    </div>
                  {{/if}}
                  {{#if (or (is blog.articles.size 1) (is section.settings.post_limit 1))}}
                    <div class="medium-up--one-half card-list__column--half-right">
                  {{/if}}
                {{/if}}
                <div class="card__info">
                  <h2 class="card__name h4">{{t 'homepage.onboarding.blog_title'}}</h2>
                  {{#if section.settings.blog_show_excerpt}}
                    <div class="card__excerpt rte">
                      {{t 'homepage.onboarding.blog_excerpt'}}
                    </div>
                  {{/if}}
                  <span class="card__read-more">
                    {{t 'blogs.article.read_more'}}
                    {{include 'icon-arrow-right'}}
                  </span>
                </div>
                {{#if section.settings.blog_show_image}}
                  {{#if (or (is blog.articles.size 1) (is section.settings.post_limit 1))}}
                    </div>
                  {{/if}}
                {{/if}}
              </a>
            </div>
          {{/each}}
        </div>
      </div>
    {{/capture}}

    {{#unless (is blog.articles_count 0)}}
      <div class="card-list grid" data-desktop-columns="{{ desktopColumns }}" data-mobile-columns="{{ mobileColumns }}">
        <div class="card-list__column grid__item {{ width }}{{#if (is mobileColumns 2)}} small--one-half{{/if}}">
          {{#each (limit blog.articles section.settings.post_limit) as |article|}}
            {{include 'featured-article-card",' article: article}}
          {{/each}}
        </div>
      </div>
      {{#if (gt blog.articles.size 0)}}
        <div class="card-list__spinner">
          {{include 'spinner",' position: 'top'}}
        </div>
      {{/if}}
    {{else}}
      {{ emptyBlog }}
    {{/unless}}

    {{#if (is blog empty)}}
      {{ emptyBlog }}
    {{/if}}

    {{#if section.settings.show_view_all}}
      <div class="featured-blog__view-all">
        <a href="{{ blog.url }}" class="btn{{#if section.settings.use_second_button}} btn--secondary{{/if}}">
          {{t 'collections.general.view_all'}}
        </a>
      </div>
    {{/if}}

  </div>
</div>

{{#schema}}
{
  "name": "Blog posts",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog"
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Posts",
      "min": 1,
      "max": 3,
      "step": 1,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "Show author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_image",
      "label": "Show cover image",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_excerpt",
      "label": "Show excerpt",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "use_second_button",
      "label": "Use secondary button style",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "category": "Blog",
      "settings": {
        "blog": "News"
      }
    }
  ]
}{{/schema}}
