{{#if (and section.settings.enable_transparent (is template.name 'index'))}}
  <style>
    html:not(.supports-no-js) body:not(.navigation-open) .site-header--transparent:not(.site-header--fixed) .burger-icon {
      background-color: {{ section.settings.transparent_text_color }};
    }

    html:not(.supports-no-js) body:not(.navigation-open) .site-header--transparent:not(.site-header--fixed) .site-header__cart .icon,
    html:not(.supports-no-js) body:not(.navigation-open) .site-header--transparent:not(.site-header--fixed) .site-header__bag .icon {
      fill: {{ section.settings.transparent_text_color }};
    }

    html:not(.supports-no-js) body:not(.navigation-open) .site-header--transparent:not(.site-header--fixed) a.site-header__logo {
      color: {{ section.settings.transparent_text_color }};
    }

    html:not(.supports-no-js) body:not(.navigation-open) .site-header--transparent:not(.site-header--fixed) .site-header__navigation::after,
    html:not(.supports-no-js) body:not(.navigation-open) .site-header--transparent:not(.site-header--fixed) .site-header__cart::after {
      border-color: {{ section.settings.transparent_text_color }};
    }
  </style>
{{/if}}
<div class="site-header{{#if (and section.settings.enable_transparent (is template.name 'index'))}} site-header--transparent{{/if}}{{#if (is template.name 'index')}} site-header--homepage{{/if}}" data-section-id="{{ section.id }}" data-section-type="header-section" data-drawer-push>
  <header class="site-header__wrapper">
    {{#if section.settings.show_announcement}}
      {{#if (or (is section.settings.home_page_only false) (is template.name 'index'))}}
        <style>
          .announcement-bar {
            background-color: {{ section.settings.announcement_color_bg }};
          }

          .announcement-bar--link:hover {
            {{assign 'brightness' (color_brightness section.settings.announcement_color_bg)}}

            {{#if (lte brightness 192)}}
              {{assign 'lightenAmount' (times (divided_by (minus 255 brightness) 255) 16)}}
              background-color: {{color_lighten section.settings.announcement_color_bg lightenAmount}};
            {{else}}
              {{assign 'darkenAmount' (times (divided_by 255 brightness) 8)}}
              background-color: {{color_darken section.settings.announcement_color_bg darkenAmount}};
            {{/if}}
          }

          .announcement-bar__message,
          .announcement-bar__close {
            color: {{ section.settings.announcement_color_text }};
          }
        </style>

        {{#if (is section.settings.announcement_link blank)}}
          <div class="announcement-bar">
        {{else}}
          <a href="{{ section.settings.announcement_link }}" class="announcement-bar announcement-bar--link">
        {{/if}}

          <p class="announcement-bar__message page-width">
            {{#if (isnt section.settings.announcement_icon 'none')}}
              {{assign 'icon' (append 'icon-' section.settings.announcement_icon)}}
              {{include 'icon'}}
            {{/if}}
            {{escape section.settings.announcement_text}}
          </p>
          <button class="announcement-bar__close btn btn--clear" aria-expanded="true">{{include 'icon-close'}}</button>

        {{#if (is section.settings.announcement_link blank)}}
          </div>
        {{else}}
          </a>
        {{/if}}

      {{/if}}
    {{/if}}

    <div class="site-header-sections page-width">
      <div class="site-header__section site-header__section--button">
        <button class="site-header__navigation btn btn--clear btn--square" aria-expanded="false" role="navigation">
          <span class="burger-icon burger-icon--top"></span>
          <span class="burger-icon burger-icon--mid"></span>
          <span class="burger-icon burger-icon--bottom"></span>
          <span class="icon__fallback-text">{{t 'general.header.expand_navigation'}}</span>
        </button>
      </div>
      <div class="site-header__section site-header__section--title">
        {{#comment}}
        Use the uploaded logo from theme settings if enabled.
        Site name gets precedence with `h1` tag on homepage, div on other pages.
        {{/comment}}
        {{#if (is template.name 'index')}}
          <h1 class="site-header__logo-wrapper h4" itemscope itemtype="http://schema.org/Organization">
        {{else}}
          <div class="site-header__logo-wrapper h4" itemscope itemtype="http://schema.org/Organization">
        {{/if}}

        <a href="/" itemprop="url" class="site-header__logo">
          {{#capture 'image_size'}}x{{ section.settings.logo_max_height }}{{/capture}}

          {{#if section.settings.logo}}
            <style>
              .site-header__logo-image {
                height: {{append section.settings.logo_max_height 'px'}};
              }
            </style>

            <img class="site-header__logo-image" src="{{img_url section.settings.logo image_size}}" srcset="{{img_url section.settings.logo image_size}} 1x, {{img_url section.settings.logo image_size scale 2}} 2x" alt="{{default section.settings.logo.alt shop.name}}" itemprop="logo">

            {{#if (and (is template.name 'index') section.settings.enable_transparent)}}
              {{#if (is section.settings.transparent_logo blank)}}
                {{assign 'transparent_logo' section.settings.logo}}
              {{else}}
                {{assign 'transparent_logo' section.settings.transparent_logo}}
              {{/if}}

              <img class="site-header__logo-image site-header__logo-image--transparent" src="{{img_url transparent_logo image_size}}" srcset="{{img_url transparent_logo image_size}} 1x, {{img_url transparent_logo image_size scale 2}} 2x" alt="{{default section.settings.logo.alt shop.name}}"
                      itemprop="logo">
            {{/if}}
          {{else}}
            {{ shop.name }}
          {{/if}}
        </a>

        {{#if (is template.name 'index')}}
          </h1>
        {{else}}
          </div>
        {{/if}}
      </div>
      <div class="site-header__section site-header__section--button">
        <a href="/cart" class="btn btn--clear btn--square btn--hover-scale site-header__cart ajax-cart__toggle" aria-expanded="false">
          {{assign 'icon' (append 'icon-header-' section.settings.icon)}}
          {{include 'icon'}}
          <span class="icon__fallback-text">{{t 'general.header.view_cart'}}</span>
          <span class="site-header__cart-bubble{{#if (gt cart.item_count 0)}} site-header__cart-bubble--visible{{/if}}"></span>
        </a>
      </div>
    </div>
  </header>

  <nav class="navigation supports-no-js critical-hide" data-section-id="{{ section.id }}" data-section-type="navigation" role="navigation" aria-hidden=true>
    <div class="navigation__container page-width">
      <ul class="navigation__links">
        {{#each (get linklists (toPath section.settings.primary_navigation 'links')) as |link|}}
          {{assign 'child_list_handle' (handleize link.title)}}
          {{#if (isnt (get menus (toPath child_list_handle 'links')) blank)}}
            <li class="navigation__link navigation__has-sublinks navigation__has-sublinks--collapsed navigation__entrance-animation">
              <button class="navigation__expand-sublinks" aria-expanded="{{#if link.active}}true{{else}}false{{/if}}" tabindex="-1">
                <span aria-hidden="true">{{ link.title }}</span>
                <span class="visually-hidden">{{t 'general.navigation.toggle_sublinks' link_title link.title}}</span>
                {{include 'icon-arrow-down'}}
              </button>
              <div class="navigation__sublinks-container">
                <ul class="navigation__sublinks">
                  {{#each (get menus (toPath child_list_handle 'links')) as |childlink|}}
                    <li class="navigation__sublink{{#if childlink.active}} navigation__sublink--active{{/if}}">
                      <a class="navigation__sublink-anchor" href="{{ childlink.url }}" tabindex="-1">{{escape childlink.title}}</a>
                    </li>
                  {{/each}}
                </ul>
              </div>
            </li>
          {{else}}
            <li class="navigation__link navigation__entrance-animation{{#if link.active}} navigation__link--active{{/if}}">
              <a class="navigation__link-anchor" href="{{ link.url }}" tabindex="-1">{{ link.title }}</a>
            </li>
          {{/if}}
        {{/each}}
      </ul>

      <ul class="navigation__links">
        {{#if shop.customer_accounts_enabled}}
          {{#if customer}}
            <li class="navigation__link navigation__link--secondary navigation__entrance-animation">
              {{#if (isnt customer.first_name blank)}}
                {{#capture 'first_name'}}{{ customer.first_name }}{{/capture}}
                <a href="/account" tabindex="-1">{{t 'layout.customer.logged_in_as_html' first_name first_name}}</a>
              {{else}}
                <a href="/account" tabindex="-1">{{t 'layout.customer.account'}}</a>
              {{/if}}
            </li>
            <li class="navigation__link navigation__link--secondary navigation__entrance-animation">
              <a href="/account/logout" tabindex="-1">{{t 'layout.customer.log_out'}}</a>
            </li>
          {{else}}
            <li class="navigation__link navigation__link--secondary navigation__entrance-animation">
              <a href="/account/login" tabindex="-1">{{t 'layout.customer.log_in'}}</a>
            </li>
            <li class="navigation__link navigation__link--secondary navigation__entrance-animation">
              <a href="/account/register" tabindex="-1">{{t 'layout.customer.create_account'}}</a>
            </li>
          {{/if}}
        {{/if}}
        {{#each (get linklists (toPath section.settings.secondary_navigation 'links')) as |link|}}
          <li class="navigation__link navigation__link--secondary navigation__entrance-animation{{#if link.active}} navigation__link--active{{/if}}">
            <a href="{{ link.url }}" tabindex="-1">{{ link.title }}</a>
          </li>
        {{/each}}
      </ul>

      {{#if section.settings.show_social_icons}}
        <div class="navigation__social-sharing navigation__entrance-animation">
          {{include 'social-links",' disableTab: true, largeIcons: true}}
        </div>
      {{/if}}

      {{include 'search-bar",' animate: true, disableTab: true}}
    </div>
  </nav>
</div>

{{#schema}}
{
  "name": "Header",
  "settings": [
    {
      "type": "select",
      "id": "icon",
      "label": "Shopping cart icon",
      "default": "bag",
      "options": [
        {
          "label": "Bag",
          "value": "bag"
        },
        {
          "label": "Cart",
          "value": "cart"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "id": "logo_max_height",
      "type": "text",
      "label": "Custom logo height (in pixels)",
      "default": "60"
    },
    {
      "type": "header",
      "content": "Transparent header"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent",
      "label": "Enable transparent header on the home page",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "transparent_logo",
      "label": "Tranparent logo image",
      "info": "This logo will be used on the home page if the transparent header setting is selected"
    },
    {
      "type": "color",
      "id": "transparent_text_color",
      "label": "Transparent header icons color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "primary_navigation",
      "label": "Primary navigation",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "secondary_navigation",
      "label": "Secondary navigation",
      "default": "footer"
    },
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": "Show social icons",
      "default": false
    },
    {
      "type": "header",
      "content": "Announcement"
    },
    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": true
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement text",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "announcement_link",
      "label": "Announcement link",
      "info": "Optional"
    },
    {
      "type": "select",
      "id": "announcement_icon",
      "label": "Icon",
      "default": "checkmark",
      "options": [
        {
          "label": "None",
          "value": "none"
        },
        {
          "label": "Box",
          "value": "box"
        },
        {
          "label": "Card",
          "value": "card"
        },
        {
          "label": "Cart",
          "value": "cart"
        },
        {
          "label": "Checkmark",
          "value": "checkmark"
        },
        {
          "label": "Clock",
          "value": "clock"
        },
        {
          "label": "Envelope",
          "value": "envelope"
        },
        {
          "label": "Globe",
          "value": "globe"
        },
        {
          "label": "Leaf",
          "value": "leaf"
        },
        {
          "label": "Padlock",
          "value": "padlock"
        },
        {
          "label": "Price Tag",
          "value": "pricetag"
        },
        {
          "label": "Silhouette",
          "value": "silhouette"
        },
        {
          "label": "Trophy",
          "value": "trophy"
        },
        {
          "label": "Truck",
          "value": "truck"
        }
      ]
    },
    {
      "type": "color",
      "id": "announcement_color_bg",
      "label": "Bar",
      "default": "#7796A8"
    },
    {
      "type": "color",
      "id": "announcement_color_text",
      "label": "Text",
      "default": "#fff"
    }
  ]
}
{{/schema}}
