<h2 class="h3"><a href="{{ article.url }}">{{ article.title }}</a></h2>
{{#if (or section.settings.blog_show_date section.settings.blog_show_author)}}
  <div class="featured-blog__meta">
    {{#if section.settings.blog_show_date}}
      {{#capture 'date'}}<strong><time pubdate datetime="{{date article.published_at '%Y-%m-%d'}}">{{date article.published_at format 'month_day_year'}}</time></strong>{{/capture}}
    {{/if}}
    {{#if section.settings.blog_show_author}}
      {{#capture 'author'}}<strong>{{ article.author }}</strong>{{/capture}}
    {{/if}}
    {{#if (and section.settings.blog_show_date section.settings.blog_show_author)}}
      <p class="text-light">
        {{t 'blogs.article.author_on_date_html' author author date date}}
      </p>
    {{else if section.settings.blog_show_author}}
       <p class="text-light">
        {{t 'blogs.article.author_html' author author}}
      </p>
    {{else if section.settings.blog_show_date}}
      <p class="text-light">
        {{ date }}
      </p>
    {{/if}}
  </div>
{{/if}}

{{#if section.settings.blog_show_excerpt}}
  <div class="rte rte--indented-images">
    {{truncatewords (strip_html article.excerpt_or_content) 30}}
  </div>
{{/if}}

<p><a href="{{ article.url }}">{{t 'blogs.article.read_more'}} &rarr;</a></p>