<div class="password-main text-center" role="main">
  {% comment %}
    Opening soon text
  {% endcomment %}
  <h2 class="password-hero h1">{{ section.settings.header | escape }}</h2>

  {% comment %}
    Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
  {% endcomment %}
  {% unless shop.password_message == blank %}
    <div class="password-message">
      {{ shop.password_message }}
    </div>
  {% endunless %}

  {% if section.settings.newsletter_enable %}

  {% comment %}
    Signup form
  {% endcomment %}
  <div class="password-signup-form">
    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <ul class="form--success">
          <li>{{ 'general.password_page.signup_form_success' | t }}</li>
        </ul>
      {% else %}
        <p class="password-signup-form__heading h3">{{ section.settings.newsletter_form_heading | escape }}</p>
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
        <div class="input-group">
          <input type="email" name="contact[email]" id="Email" class="input-group__field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
          <span class="input-group__btn">
            <button type="submit" name="commit" class="btn">
              <span>{{ section.settings.newsletter_button_text | escape }}</span>
            </button>
          </span>
        </div>
      {% endif %}
    {% endform %}
  </div>

  {% endif %}

  {% if section.settings.show_share_buttons %}

  {% comment %}
    Share homepage URL
    Shared text is from the store meta description
  {% endcomment %}
  {% if settings.share_facebook or settings.share_twitter or settings.share_google %}
    <div class="password-social-sharing">
      <p class="password-social-sharing__heading h3">{{ section.settings.social_message | escape }}</p>
      {% include 'social-sharing' %}
    </div>
  {% endif %}

  {% endif %}

  {% comment %}
    Link to password modal
  {% endcomment %}
  <div class="password-login">
    <a href="#LoginModal" class="js-modal-open-login-modal action-link">
      {{ 'general.password_page.password_link' | t }} <span class="icon icon-arrow-right action-link__icon" aria-hidden="true"></span>
    </a>
  </div>

</div>

{% schema %}
  {
    "name": "Content",
    "class": "password-content-section password-page-section",
    "settings": [ {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Coming Soon"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "Find out when we open",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Your email"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Submit"
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "Social sharing buttons heading",
        "default": "Spread the word"
      }
    ]
  }
{% endschema %}
