<header class="password-header" role="banner">
  <div class="password-logo">
    {% if section.settings.logo %}
      <a href="/" itemprop="url" class="site-header__logo-image">
        {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
        <img src="{{ section.settings.logo | img_url: image_size }}"
             srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
             alt="{{ section.settings.logo.alt | default: shop.name }}"
             itemprop="logo">
      </a>
    {% else %}
      <h1 class="h2">
        <span class="logo">{{ shop.name }}</span>
      </h1>
    {% endif %}
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "password-header-section password-page-section",
    "settings": [{
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      }
    ]
  }
{% endschema %}
