<div class="drawer__header" data-section-id="{{ section.id }}" data-section-type="sidebar-menu-section">
  <div class="drawer__close">
    <button type="button" class="drawer__close-button js-drawer-close">
      <span class="icon icon-x" aria-hidden="true"></span>
      <span class="icon__fallback-text">{{ 'layout.drawers.close_menu' | t }}</span>
    </button>
  </div>
</div>
<div class="drawer__inner">
  <ul class="drawer-nav">
    {% for link in linklists[section.settings.sidebar_top_link_list].links %}
      {% assign child_list_handle = link.title | handleize %}
      {% if linklists[child_list_handle].links != blank %}
        {% comment %} See if nav has any active childlist items {% endcomment %}
        {% assign has_active_child_link = false %}
        {% for childlink in linklists[child_list_handle].links %}
          {% if childlink.active %}
            {% assign has_active_child_link = true %}
          {% endif %}
        {% endfor %}
        <li class="drawer-nav__item{% unless template.name == 'index' %}{% if link.active %} drawer-nav__item--active{% endif %}{% endunless %}" aria-haspopup="true">
          <div class="drawer-nav__has-sublist{% if has_active_child_link %} drawer-nav--expanded{% endif %}">
            <a href="{{ link.url }}" class="drawer-nav__link h2">{{ link.title }}</a>
            <div class="drawer-nav__toggle">
              <button type="button" class="drawer-nav__toggle-button">
                <span class="drawer-nav__toggle-open">
                  <span class="icon icon-plus" aria-hidden="true"></span>
                  <span class="icon__fallback-text">See More</span>
                </span>
                <span class="drawer-nav__toggle-close">
                  <span class="icon icon-minus" aria-hidden="true"></span>
                  <span class="icon__fallback-text">{{ 'cart.general.close_cart' | t }}</span>
                </span>
              </button>
            </div>
          </div>
          <ul class="drawer-nav__sublist">
            {% for childlink in linklists[child_list_handle].links %}
              <li class="drawer-nav__item{% unless template.name == 'index' %}{% if childlink.active %} drawer-nav__item--active{% endif %}{% endunless %}">
                <a href="{{ childlink.url }}" class="drawer-nav__link">{{ childlink.title | escape }}</a>
              </li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li class="drawer-nav__item{% unless template.name == 'index' %}{% if link.active %} drawer-nav__item--active{% endif %}{% endunless %}">
          <a href="{{ link.url }}" class="drawer-nav__link h2">{{ link.title }}</a>
        </li>
      {% endif %}
    {% endfor %}

    <li class="drawer-nav__spacer"></li>

    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <li class="drawer-nav__item drawer-nav__item--secondary">
          <a href="/account">{{ 'layout.customer.account' | t }}</a>
        </li>
        <li class="drawer-nav__item drawer-nav__item--secondary">
          {{ 'layout.customer.log_out' | t | customer_logout_link }}
        </li>
      {% else %}
        <li class="drawer-nav__item drawer-nav__item--secondary">
          {{ 'layout.customer.log_in' | t | customer_login_link }}
        </li>
        <li class="drawer-nav__item drawer-nav__item--secondary">
          {{ 'layout.customer.create_account' | t | customer_register_link }}
        </li>
      {% endif %}
    {% endif %}
    {% for link in linklists[section.settings.sidebar_bottom_link_list].links %}
      <li class="drawer-nav__item drawer-nav__item--secondary"><a href="{{ link.url }}">{{ link.title }}</a></li>
    {% endfor %}
  </ul>

  <ul class="list--inline social-icons social-icons--drawer">
    {% if settings.social_twitter_link != blank %}
      <li>
        <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
          <span class="icon icon-twitter" aria-hidden="true"></span>
          <span class="visually-hidden">Twitter</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_facebook_link != blank %}
      <li>
        <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
          <span class="icon icon-facebook" aria-hidden="true"></span>
          <span class="visually-hidden">Facebook</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_pinterest_link != blank %}
      <li>
        <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
          <span class="icon icon-pinterest" aria-hidden="true"></span>
          <span class="visually-hidden">Pinterest</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_google_plus_link != blank %}
      <li>
        <a href="{{ settings.social_google_plus_link | escape }}" rel="publisher" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Google Plus' }}">
          <span class="icon icon-google_plus" aria-hidden="true"></span>
          <span class="visually-hidden">Google Plus</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_instagram_link != blank %}
      <li>
        <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
          <span class="icon icon-instagram" aria-hidden="true"></span>
          <span class="visually-hidden">Instagram</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_snapchat_link != blank %}
      <li>
        <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
          <span class="icon icon-snapchat" aria-hidden="true"></span>
          <span class="visually-hidden">Snapchat</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_tumblr_link != blank %}
      <li>
        <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
          <span class="icon icon-tumblr" aria-hidden="true"></span>
          <span class="visually-hidden">Tumblr</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_youtube_link != blank %}
      <li>
        <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
          <span class="icon icon-youtube" aria-hidden="true"></span>
          <span class="visually-hidden">YouTube</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_vimeo_link != blank %}
      <li>
        <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
          <span class="icon icon-vimeo" aria-hidden="true"></span>
          <span class="visually-hidden">Vimeo</span>
        </a>
      </li>
    {% endif %}
    {% if settings.social_fancy_link != blank %}
      <li>
        <a href="{{ settings.social_fancy_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Fancy' }}">
          <span class="icon icon-fancy" aria-hidden="true"></span>
          <span class="visually-hidden">Fancy</span>
        </a>
      </li>
    {% endif %}
  </ul>
</div>

{% schema %}
  {
    "name": "Sidebar menu",
    "class": "sidebar-menu-section",
    "settings": [  {
        "type": "link_list",
        "id": "sidebar_top_link_list",
        "label": "Primary menu",
        "default": "main-menu"
      },  {
        "type": "link_list",
        "id": "sidebar_bottom_link_list",
        "label": "Additional menu",
        "default": "footer"
      }
    ]
  }
{% endschema %}
