<div class="page-width">
  <div class="grid">

    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="note form-success hide" id="ResetSuccess">
        {{t 'customer.recover_password.success'}}
      </div>

      <div id="CustomerLoginForm" class="form-vertical">
        {{#form 'customer_login'}}

          <h1 class="text-center">{{t 'customer.login.title'}}</h1>

          {{default_errors form.errors}}

          <label for="CustomerEmail">{{t 'customer.login.email'}}</label>
          <input type="email" name="customer[email]" id="CustomerEmail" class="{{#if (contains form.errors 'email')}} input--error{{/if}}" autocorrect="off" autocapitalize="off" autofocus>

          {{#if form.password_needed}}
            <label for="CustomerPassword">{{t 'customer.login.password'}}</label>
            <input type="password" value="" name="customer[password]" id="CustomerPassword" class="{{#if (contains form.errors 'password')}} input--error{{/if}}">
          {{/if}}

          <div class="text-center">
            {{#if form.password_needed}}
              <p><a href="#recover" id="RecoverPassword">{{t 'customer.login.forgot_password'}}</a></p>
            {{/if}}

            <input type="submit" class="btn" value="{{t 'customer.login.sign_in'}}">

            <p>
              {{customer_register_link (t 'layout.customer.create_account')}}
            </p>
          </div>

        {{/form}}
      </div>

      <div id="RecoverPasswordForm" class="hide">

        <div class="text-center">
          <h2>{{t 'customer.recover_password.title'}}</h2>
          <p>{{t 'customer.recover_password.subtext'}}</p>
        </div>

        <div class="form-vertical">
          {{#form 'recover_customer_password'}}

            {{default_errors form.errors}}

            {{#comment}}
              Add a hidden span to indicate the form was submitted succesfully.
            {{/comment}}
            {{#if form.posted_successfully}}
              <span class="hide reset-password-success"></span>
            {{/if}}

            <label for="RecoverEmail">{{t 'customer.recover_password.email'}}</label>
            <input type="email" value="" name="email" id="RecoverEmail" class="input-full"autocorrect="off" autocapitalize="off">

            <div class="text-center">
              <p>
                <input type="submit" class="btn" value="{{t 'customer.recover_password.submit'}}">
              </p>

              <button type="button" id="HideRecoverPasswordLink" class="text-link">{{t 'customer.recover_password.cancel'}}</button>
            </div>
          {{/form}}
        </div>

      </div>

      {{#comment}}
        If accounts are set as optional, the following will be shown as an option
        during checkout, not on the default /login page.
      {{/comment}}
      {{#if shop.checkout.guest_login}}
        <div class="text-center">
          <hr class="hr--invisible">
          <h2>{{t 'customer.login.guest_title'}}</h2>

          {{#form 'guest_login'}}
            <input type="submit" class="btn" value="{{t 'customer.login.guest_continue'}}">
          {{/form}}
        </div>
      {{/if}}
    </div>

  </div>
</div>
