<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--one-half medium-up--push-one-quarter">
      <div class="section-header">
        <div class="form-vertical">
          {{#form 'reset_customer_password'}}

            <h1 class="text-center">{{t 'customer.reset_password.title'}}</h1>

            <p class="text-center">{{t 'customer.reset_password.subtext' email email}}</p>

            {{default_errors form.errors}}

            <label for="ResetPassword">{{t 'customer.reset_password.password'}}</label>
            <input type="password" value="" name="customer[password]" id="ResetPassword" class="{{#if (contains form.errors 'password')}} input--error{{/if}}">

            <label for="PasswordConfirmation">{{t 'customer.reset_password.password_confirm'}}</label>
            <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{{#if (contains form.errors 'password_confirmation')}} input--error{{/if}}">

            <input type="submit" class="btn text-center" value="{{t 'customer.reset_password.submit'}}">
          {{/form}}
        </div>

      </div>
    </div>
  </div>
</div>
