{% unless heading == blank %}
  <div class="section-header">
    <h2 class="section-header__title">
      {{ heading | escape }}
    </h2>
  </div>
  {% unless subheading == blank %}
    <p>{{ subheading | escape }}</p>
  {% endunless %}
{% else %}
  <label class="form-label--hidden">
    <span class="visuallyhidden">{{ 'general.newsletter_form.newsletter_label' | t }}</span>
  </label>
{% endunless %}

<div class="form-vertical">
  {% form 'customer' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <p class="note form-success">{{ 'general.newsletter_form.confirmation' | t }}</p>
    {% else %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="input-group">
        <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
        <span class="input-group-btn">
          <button type="submit" class="btn icon-fallback-text" name="commit" id="subscribe">
            <span class="icon icon-chevron-right" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'general.newsletter_form.submit' | t }}</span>
          </button>
        </span>
      </div>
    {% endif %}
  {% endform %}
</div>
