<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>{{ shop.name }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  {{#if (isnt settings.favicon blank)}}
    <link rel="shortcut icon" href="{{img_url settings.favicon '32x32'}}" type="image/png">
  {{/if}}

  <link rel="canonical" href="{{ canonical_url }}">

  {{include 'social-meta-tags'}}

  <script>
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  {{stylesheet_tag (asset_url 'theme.scss.css')}}
  {{include 'google-fonts'}}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{asset_url 'vendor.js'}}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{asset_url 'vendor.js'}}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{asset_url 'theme.js'}}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{asset_url 'theme.js'}}"></script><![endif]-->

  {{ content_for_header }}
</head>

<body class="template-password">

  <a href="#LoginModal" class="password-login-link js-modal-open-login-modal">
    {{include 'icon-lock'}}
    {{t 'general.password_page.password_link'}}
  </a>

  <div class="password-page page-width text-center" role="main">
    <div class="password-page__inner">
      <div class="password-page__content">
      {% body %}
      </div>
    </div>
  </div>

  <div id="LoginModal" class="modal">
    <div class="modal__inner">
      <div class="modal__centered password-modal__content page-width text-center">
        <p class="h4">{{t 'general.password_page.login_form_heading'}}</p>
        <div class="password-login-form">
          {{#form 'storefront_password'}}
            {{default_errors form.errors}}
            <label for="password" class="label--hidden">{{t 'general.password_page.login_form_password_label'}}</label>
            <div class="input-group">
              <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{t 'general.password_page.login_form_password_placeholder'}}">
              <span class="input-group__btn">
                <button type="submit" name="commit" class="btn btn--narrow">
                  {{include 'icon-arrow-right'}}
                  <span class="icon__fallback-text">{{t 'general.password_page.login_form_submit'}}</span>
                </button>
              </span>
            </div>
          {{/form}}
        </div>
        <p>{{t 'general.password_page.admin_link_html'}}</p>
      </div>
    </div>
    <button type="button" class="modal__close js-modal-close text-link">
      {{include 'icon-close'}}
      <span class="icon__fallback-text">{{json (t 'general.accessibility.close_modal')}}</span>
    </button>
  </div>

</body>
</html>