<div class="page-width">
  {{#if (isnt section.settings.image blank)}}
    {{assign 'img_url' (format (img_url section.settings.image '1024x') 'jpg')}}
  {{/if}}

  <div class="section-block">
    {{#if (is section.settings.image blank)}}
      <div class="placeholder-background">
        {{placeholder_svg_tag 'lifestyle-1' 'placeholder-svg'}}
      </div>
    {{/if}}
    <noscript>
      <div class="featured-content" {{#if (isnt section.settings.image blank)}}style="background-image: url({{ img_url }}); background-position: {{ section.settings.image_align }}"{{/if}}>
        <div class="emphasized-title-wrapper">
          {{#if (isnt section.settings.link blank)}}
            <a href="{{ section.settings.link }}" class="emphasized-title emphasized-title--link emphasized-title--large h1">
              {{escape section.settings.title}}
            </a>
          {{else}}
            <h4 class="emphasized-title emphasized-title--large h1">
              {{escape section.settings.title}}
            </h4>
          {{/if}}
        </div>
        {{#if (isnt section.settings.link blank)}}
          <a href="{{ section.settings.link }}" class="emphasized-subtitle">
            {{escape section.settings.subtext}}
          </a>
        {{else}}
          <span class="emphasized-subtitle">
            {{escape section.settings.subtext}}
          </span>
        {{/if}}
      </div>
    </noscript>
    <div class="featured-content lazyload"
      {{#if (isnt section.settings.image blank)}}
        style="background-position: {{ section.settings.image_align }};
               background-image: url('{{img_url section.settings.image '300x300'}});"
      {{/if}}
      data-bgset="{{include 'bgset",' image: section.settings.image}}"
      data-sizes="auto"
      data-parent-fit="cover">
      <div class="emphasized-title-wrapper">
        {{#if (isnt section.settings.link blank)}}
          <a href="{{ section.settings.link }}" class="emphasized-title emphasized-title--link emphasized-title--large h1">
            {{escape section.settings.title}}
          </a>
        {{else}}
          <h4 class="emphasized-title emphasized-title--large h1">
            {{escape section.settings.title}}
          </h4>
        {{/if}}
      </div>
      {{#if (isnt section.settings.link blank)}}
        <a href="{{ section.settings.link }}" class="emphasized-subtitle">
          {{escape section.settings.subtext}}
        </a>
      {{else}}
        <span class="emphasized-subtitle">
          {{escape section.settings.subtext}}
        </span>
      {{/if}}
    </div>
  </div>
</div>

{{#schema}}
  {
    "name": "Image with text link",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text link"
      },
      {
        "type": "text",
        "id": "subtext",
        "label": "Subheading",
        "default": "Shop now"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link",
        "info": "Optional"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "radio",
        "id": "image_align",
        "label": "Image alignment",
        "options": [
          { "value": "top center", "label": "Top center" },
          { "value": "center center", "label": "Center" },
          { "value": "bottom center", "label": "Bottom center" }
        ],
        "default": "top center"
      }
    ],
    "presets": [
      {
        "name": "Image with text link",
        "category": "Image"
      }
    ]
  }
{{/schema}}
