<div class="password-logo">
    <h1 class="h2" itemscope itemtype="http://schema.org/Organization">
      {{#if (isnt section.settings.logo blank)}}
            {{#capture 'image_size'}}{{escape section.settings.logo_max_width}}x{{/capture}}
            <a href="/" itemprop="url" class="site-header__logo-link">
              <img src="{{img_url section.settings.logo image_size}}"
                   srcset="{{img_url section.settings.logo image_size}} 1x, {{img_url section.settings.logo image_size scale 2}} 2x"
                   alt="{{default section.settings.logo.alt shop.name}}"
                   itemprop="logo">
            </a>
        {{else}}
            {{ shop.name }}
        {{/if}}
    </h1>
    <h2 class="password-page__title h1">{{escape section.settings.header}}</h2>
 </div>



{{#schema}}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": "Custom logo width (in pixels)",
      "default": "100"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Coming Soon"
    }
  ]
}{{/schema}}
