---
layout: none
---
<!doctype html>
<!--[if IE 9]> <html class="ie9 supports-no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="supports-no-js password-html" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="UTF-8">
  <title>
    {{ shop.name }}
  </title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta name="theme-color" content="{{ settings.color_primary }}">

  {{#if (isnt settings.favicon blank)}}
    <link rel="shortcut icon" href="{{img_url settings.favicon '32x32'}}" type="image/png">
  {{/if}}

  <link rel="canonical" href="{{ canonical_url }}">

  {{include 'social-meta-tags'}}

  {{stylesheet_tag (asset_url 'theme.scss.css')}}

  <script>
    var theme = {
      strings: {
        addToCart: {{json (t 'products.product.add_to_cart')}},
        soldOut: {{json (t 'products.product.sold_out')}},
        unavailable: {{json (t 'products.product.unavailable')}}
      },
      moneyFormat: {{json shop.money_format}},
      productSingleObject: {{json product}}
    };
  </script>

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{asset_url 'theme.min.js'}}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{asset_url 'theme.min.js'}}"></script><![endif]-->

  {{ content_for_header }}
</head>

<body class="password-template">
  {% body %}
</body>
</html>
