{%- assign limit = section.settings.products | times: section.settings.rows -%}
{%- assign featuredCollection = collections[section.settings.collection] -%}
{%- assign totalProducts = featuredCollection.products.size -%}

<div class="featured-collection collection-template" data-section-id="{{ section.id }}" data-section-type="collection-template">
  <div class="page-width">
    <div class="featured-collection__heading grid text-center">
      <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
        <h2>{{ section.settings.title }}</h2>
      </div>
    </div>

    {%- assign desktopColumns = section.settings.products -%}
    {%- assign mobileColumns = '1' -%}

    {%- capture gridClasses -%}
      {% if desktopColumns == 4 %}
        medium-up--one-quarter
      {% elsif desktopColumns == 3 %}
        medium-up--one-third
      {% elsif desktopColumns == 2 %}
        medium-up--one-half
      {% else %}
        medium-up--one-half
      {% endif %}
      {% if mobileColumns == '2' %}small--one-half {% endif %}
    {%- endcapture -%}

    <div class="card-list grid" data-desktop-columns="{{ desktopColumns }}" data-mobile-columns="{{ mobileColumns }}">
      <div class="card-list__column{% if totalProducts == 1 %} card-list__column--center{% endif %} grid grid__item {{ gridClasses }}">
        {% unless featuredCollection == blank %}
          {% for product in featuredCollection.products limit: limit %}
            {% include 'product-card', product: product %}
          {% endfor %}
        {% else %}
          {% for i in (1..limit) %}
            <div class="card" data-animate>
              <a href="{{ product.url | within: collection }}" class="card__wrapper{% if section.settings.show_spacing %} card__wrapper--padding{% endif %} text-center">
                <div class="card__image-wrapper{% if settings.product_image_spacing %} card__image-wrapper--padding{% endif %}">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}

                  <div class="card__info">
                    {% if section.settings.show_vendor %}
                      <div class="card__brand">{{ 'homepage.onboarding.product_vendor' | t }}</div>
                    {% endif %}

                    <div class="card__name h4">{{ 'homepage.onboarding.product_title' | t }}</div>
                    <div class="card__price">{{ 1999 | money }}</div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        {% endunless %}
      </div>
    </div>

    {% unless section.settings.collection == blank %}
      {% if totalProducts == 0 %}
        <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
      {% endif %}
    {% endunless %}


    {% if section.settings.show_view_all %}
      <div class="featured-collection__view-all">
        <a href="{{ featuredCollection.url }}" class="btn{% if section.settings.use_second_button %} btn--secondary{% endif %}">
          {{ 'collections.general.view_all' | t }}
        </a>
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "class": "index-section index-section--featured-collection",
  "settings": [
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "checkbox",
      "id": "show_spacing",
      "label": "Enable image spacing"
    },
    {
      "type": "header",
      "content": "Text"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "Show product vendors",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "use_second_button",
      "label": "Use secondary button style",
      "default": false
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "products",
      "label": "Products per row",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "rows",
      "label": "Rows",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 2
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}
