<div class="list-collections-template" data-section-id="{{ section.id }}" data-section-type="list-collections-template">
  <div class="page-width">
    <div class="grid text-center">
      <div class="grid__item medium-up--ten-twelfths medium-up--push-one-twelfth">
        <header class="section-header">
          <h1 class="section-header__title h2">{{ 'collections.general.all' | t }}</h1>
        </header>
      </div>
    </div>

    {%- assign desktopColumns = section.settings.products -%}
    {%- assign mobileColumns = '1' -%}

    {%- capture gridClasses -%}
      {% if desktopColumns == '3' %}medium-up--one-third {% else %}medium-up--one-half {% endif %}
      {% if mobileColumns == '2' %}small--one-half {% endif %}
    {%- endcapture -%}

    <div class="card-list grid" data-desktop-columns="{{ desktopColumns }}" data-mobile-columns="{{ mobileColumns }}">
      <div class="card-list__column grid grid__item {{ gridClasses }}">
        {% if section.settings.display_type == 'all' %}
          {% case section.settings.sort %}
            {% when 'products_high' or 'products_low' %}
              {%- assign collections = collections | sort: 'all_products_count' -%}
            {% when 'date' or 'date_reversed' %}
              {%- assign collections = collections | sort: 'published_at' -%}
          {% endcase %}
          {% if section.settings.sort == 'products_low' or section.settings.sort == 'date' or section.settings.sort == 'alphabetical' %}
            {% for collection in collections %}
              {% unless collection.handle == 'frontpage' %}
                {% include 'collection-card', collection: collection, width: section.settings.products %}
              {% endunless %}
            {% endfor %}
          {% else %}
            {% for collection in collections reversed %}
              {% unless collection.handle == 'frontpage' %}
                {% include 'collection-card', collection: collection, width: section.settings.products %}
              {% endunless %}
            {% endfor %}
          {% endif %}
        {% else %}
          {% for block in section.blocks %}
            {%- assign collection = collections[block.settings.collection] -%}
            {% include 'collection-card', collection: collection, width: section.settings.products %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collection list",
  "settings": [
    {
      "type": "paragraph",
      "content": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections."
    },
    {
      "type": "radio",
      "id": "display_type",
      "label": "Select collections to show",
      "default": "all",
      "options": [
        {
          "value": "all",
          "label": "All"
        },
        {
          "value": "selected",
          "label": "Selected"
        }
      ]
    },
    {
      "type": "select",
      "id": "products",
      "label": "Products per row",
      "default": "2",
      "options": [
        {
          "value": "2",
          "label": "2"
        },
        {
          "value": "3",
          "label": "3"
        }
      ]
    },
    {
      "type": "select",
      "id": "sort",
      "label": "Sort collections by:",
      "info": "Sorting only applies when 'All' is selected",
      "default": "alphabetical",
      "options": [
        {
          "value": "products_high",
          "label": "Product count, high to low"
        },
        {
          "value": "products_low",
          "label": "Product count, low to high"
        },
        {
          "value": "alphabetical",
          "label": "Alphabetically, A-Z"
        },
        {
          "value": "alphabetical_reversed",
          "label": "Alphabetically, Z-A"
        },
        {
          "value": "date",
          "label": "Date, old to new"
        },
        {
          "value": "date_reversed",
          "label": "Date, new to old"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_spacing",
      "label": "Enable image spacing"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "Show collection description",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "label": "Collection",
          "id": "collection",
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}
