<div class="password-main text-center" role="main" data-section-id={{ section.id }} data-section-type="password-content">
  <h2>{{ section.settings.header }}</h2>

  {% if section.settings.newsletter_enable %}
    <div class="password-signup">
      {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <ul class="form-success">
          <li>{{ 'general.password_page.signup_form_success' | t }}</li>
        </ul>
      {% else %}
        <h4 class="password-sub-heading">{{ section.settings.newsletter_form_heading }}</h4>
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
        <div class="input-group">
          <div class="input-group__field">
            <input type="email" name="contact[email]" id="email" placeholder="{{ section.settings.newsletter_placeholder }}">
          </div>
          <div class="password-form-btn input-group__btn">
            <button type="submit" name="commit" class="btn">{{ section.settings.newsletter_button_text }}</button>
          </div>
        </div>
      {% endif %}
      {% endform %}
    </div>
  {% endif %}

  {% if section.settings.show_share_buttons %}
    <div class="password-social-sharing">
      <p class="password-sub-heading h4">{{ section.settings.social_message }}</p>
      {% include 'social-links', disableTab: true, largeIcons: true %}
    </div>
  {% endif %}

  <div class="password-sub-action">
    <button class="btn btn--clear password__open-modal" aria-expanded="false">
      {{ 'general.password_page.password_link' | t }}
      {% include 'icon-arrow-right' %}
    </button>
  </div>
</div>

<div class="password-modal">
  <button type="button" class="btn btn--clear password-modal__close">
    {% include 'icon-close' %}
    <span class="icon__fallback-text">{{ 'general.password_page.close_modal' | t | json }}</span>
  </button>
  <div class="password-modal__content text-center">
    <h4 class="password-sub-heading">{{ 'general.password_page.login_form_heading' | t }}</h4>
    <div class="password-login">
      {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <div class="input-group">
        <div class="input-group__field">
          <label for="password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
          <input class='password-modal__input' type="password" name="password" id="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
        </div>
        <div class="input-group__btn">
          <button type="submit" name="commit" class="btn">
            {{ 'general.password_page.login_form_submit' | t }}
          </button>
        </div>
      </div>
      {% endform %}
      <div class="password-sub-action">
        <p>{{ 'general.password_page.admin_link_html' | t }}</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Opening Soon"
    },
    {
      "type": "header",
      "content": "Newsletter signup"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": "Newsletter form heading",
      "default": "Find out when we open",
      "info": "[Tell your visitors about the launch date](https://www.shopify.ca/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Newsletter label text",
      "default": "Email address"
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": "Newsletter Button label",
      "default": "Submit"
    },
    {
      "type": "header",
      "content": "Social sharing"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": "Social sharing buttons heading",
      "default": "Spread the word"
    }
  ]
}
{% endschema %}
