<header class="password-header text-center" data-section-id="{{ section.id }}" data-section-type="password-header">
  {% if section.settings.logo %}
    {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
    <img src="{{ section.settings.logo | img_url: image_size }}" alt="{{ section.settings.logo.alt | default: shop.name }}" itemprop="logo">
  {% else %}
    <h1 class="password-header__shop-name h4">{{ shop.name }}</h1>
  {% endif %}
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": "Custom logo width (in pixels)",
      "default": "100"
    }
  ]
}
{% endschema %}
