<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="modern no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>{{ shop.name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="theme-color" content="{{ settings.color_nav_bg }}">

    {% if settings.favicon %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
    {% endif %}

    <!-- Social Meta Tags ===================================== -->
    {% include 'social-meta-tags' %}

    {% unless shop.description == blank %}
      <meta name="description" content="{{ shop.description | escape }}">
    {% endunless %}

    <script>
      window.theme = window.theme || {};
      theme.settings = {
        cartType: {{ settings.cart_type | json }}
      };
    </script>

    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->


    {{ content_for_header }}

    <!-- CSS ================================================== -->
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

    <!-- Google Fonts | from theme settings ================================================== -->
    {% if settings.type_base_family contains 'Google' %}
      {% assign type_base_parts = settings.type_base_family | split: '_' %}
      {% capture base_google_url %}{{ type_base_parts[1] }}:{{ type_base_parts[2] }}{% endcapture %}
      {{ '//fonts.googleapis.com/css?family=' | append: base_google_url | stylesheet_tag }}
    {% endif %}
    {% if settings.type_header_family contains 'Google' %}
      {% unless settings.type_header_family contains type_base_parts[1] %}
        {% assign type_header_parts = settings.type_header_family | split: '_' %}
        {% capture header_google_url %}{{ type_header_parts[1] }}:{{ type_header_parts[2] }}{% endcapture %}
        {{ '//fonts.googleapis.com/css?family=' | append: header_google_url | stylesheet_tag }}
      {% endunless %}
    {% endif %}

    <!-- Fixes for Older Versions of IE ================================================== -->
    {% comment %}
      oldIE fixes/shivs
      HTML5 shiv, Selectivizer
      - respond.js Gavin Ballard
      - http://gavinballard.com/using-respond.js-with-shopify-redux/
    {% endcomment %}
    {% assign respond_js_secret_key = shop.domain | md5 %}
    <!--[if lt IE 9]>
    {{ '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js' | script_tag }}
    {{ 'respond.min.js' | asset_url | script_tag }}
    <link href="{{ 'respond-proxy.html' | asset_url | split: '?' | first }}" id="respond-proxy" rel="respond-proxy" />
    <link href="//{{ shop.domain }}/search?q={{ respond_js_secret_key }}" id="respond-redirect" rel="respond-redirect" />
    <script src="//{{ shop.domain }}/search?q={{ respond_js_secret_key }}" type="text/javascript"></script>
    <![endif]-->


    <!-- JS ================================================== -->
    {{ 'modernizr.min.js' | asset_url | script_tag }}
    {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}

  </head>

  <body class="template-password">

    <div class="password-page text-center">

      {{ content_for_layout }}

    </div>

    <div id="LoginModal" class="modal">
      <div class="modal__inner">
        <div class="modal__centered password-modal__content page-width text-center">
          <p class="h4">{{ 'general.password_page.login_form_heading' | t }}</p>
          <div class="password-login-form">
            {% form 'storefront_password' %}
              {{ form.errors | default_errors }}
              <label for="password" class="label--hidden">{{ 'general.password_page.login_form_password_label' | t }}</label>
              <div class="input-group">
                <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
                <span class="input-group__btn">
                  <button type="submit" name="commit" class="btn btn--narrow">
                    {{ 'general.password_page.login_form_submit' | t }}
                  </button>
                </span>
              </div>
            {% endform %}
          </div>
          <p>{{ 'general.password_page.admin_link_html' | t }}</p>
        </div>
      </div>
      <button type="button" class="modal__close js-modal-close text-link">
        <span class="icon icon-x" aria-hidden="true"></span>
        <span class="icon__fallback-text">{{ 'general.password_page.close_modal' | t | json }}</span>
      </button>
    </div>

    {{ 'theme.js' | asset_url | script_tag }}
  </body>
</html>
