<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <meta name="theme-color" content="{{ settings.color_nav_bg }}">

  {% if settings.favicon %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {% endif %}

  <link rel="canonical" href="{{ canonical_url }}">

  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Google Fonts | from theme settings ================================================== -->
  {% if settings.type_base_family contains 'Google' %}
    {% assign type_base_parts = settings.type_base_family | split: '_' %}
    {% capture base_google_url %}{{ type_base_parts[1] }}:{{ type_base_parts[2] }}{% endcapture %}
    {{ '//fonts.googleapis.com/css?family=' | append: base_google_url | stylesheet_tag }}
  {% endif %}
  {% if settings.type_header_family contains 'Google' %}
    {% unless settings.type_header_family contains type_base_parts[1] %}
      {% assign type_header_parts = settings.type_header_family | split: '_' %}
      {% capture header_google_url %}{{ type_header_parts[1] }}:{{ type_header_parts[2] }}{% endcapture %}
      {{ '//fonts.googleapis.com/css?family=' | append: header_google_url | stylesheet_tag }}
    {% endunless %}
  {% endif %}

  <script>
    window.theme = window.theme || {};
    theme.strings = {
      cartEmpty: {{ 'cart.general.empty' | t | json }},
      savingHtml: {{ 'cart.general.savings_html' | t: price: '[savings]' | json }},
      addToCart: {{ 'products.product.add_to_cart' | t | json }},
      soldOut: {{ 'products.product.sold_out' | t | json }},
      unavailable: {{ 'products.product.unavailable' | t | json }},
      addressError: {{ 'map.address_error' | t | json }},
      addressNoResults: {{ 'map.address_no_results' | t | json }},
      addressQueryLimit: {{ 'map.address_query_limit_html' | t | json }},
      authError: {{ 'map.auth_error_html' | t | json }}
    };
    theme.settings = {
      cartType: {{ settings.cart_type | json }},
      moneyFormat: {{ shop.money_format | json }}
    };
  </script>

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  {% if template.name == 'product' or template.name == 'cart' or settings.cart_type == 'drawer' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'option_selection.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'option_selection.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <form action="/search" method="get" class="search-bar__table-cell search-bar__form" role="search">
        <div class="search-bar__table">
          <div class="search-bar__table-cell search-bar__icon-cell">
            <button type="submit" class="search-bar__icon-button search-bar__submit">
              <span class="icon icon-search" aria-hidden="true"></span>
              <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
            </button>
          </div>
          <div class="search-bar__table-cell">
            <input type="search" id="SearchInput" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}" class="search-bar__input">
          </div>
        </div>
      </form>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="search-bar__icon-button search-bar__close js-drawer-close">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="icon__fallback-text">{{ 'general.search.close_search' | t }}</span>
        </button>
      </div>
    </div>
  </div>
  <div id="NavDrawer" class="drawer drawer--left">
  {% section 'sidebar-menu' %}
  </div>
  <div id="CartDrawer" class="drawer drawer--right drawer--has-fixed-footer">
    <div class="drawer__header">
      <div class="drawer__close">
        <button type="button" class="drawer__close-button js-drawer-close">
          <span class="icon icon-x" aria-hidden="true"></span>
          <span class="icon__fallback-text">{{ 'cart.general.close_cart' | t }}</span>
        </button>
      </div>
    </div>
    <div class="drawer__inner">
      <div id="CartContainer">
      </div>
    </div>
  </div>

  <div id="PageContainer">
    {% section 'announcement-bar' %}

    {% unless template.name == "index" %}
      <div class="site-header-wrapper">
        <div class="site-header-container">
          {% section 'header' %}

          <div class="action-area">
            {% unless template.name == 'product' or template.name == 'search' or template.name == 'index' %}
              {% include 'action-bar' %}
            {% endunless %}

            {% if template.name == 'search' and search.performed %}
              <div class="action-bar">
                <div class="search__results-count">
                  {{ 'general.search.results_with_count' | t: count: search.results_count, term: search.terms }}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% endunless %}

    <main class="main-content" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

  </div>

  {% comment %}
    Enable ajax cart drawer
  {% endcomment %}
  {% if settings.cart_type == 'drawer' %}
    <script id="CartTemplate" type="text/template">
      {% raw %}
        <form action="/cart" method="post" novalidate class="cart ajaxcart">
          <div class="ajaxcart__inner ajaxcart__inner--has-fixed-footer">
            {{#items}}
            <div class="ajaxcart__row">
              <div class="ajaxcart__product" data-line="{{line}}">
                <div class="grid grid--half-gutters">
                  <div class="grid__item one-quarter">
                    <a href="{{url}}" class="ajaxcart__product-image"><img src="{{img}}" alt="{{name}}"></a>
                  </div>
                  <div class="grid__item three-quarters">
                    <div class="ajaxcart__product-name-wrapper">
                      <a href="{{url}}" class="ajaxcart__product-name h4">{{name}}</a>
                      {{#if variation}}
                        <span class="ajaxcart__product-meta">{{variation}}</span>
                      {{/if}}
                      {{#properties}}
                        {{#each this}}
                          {{#if this}}
                            <span class="ajaxcart__product-meta">{{@key}}: {{this}}</span>
                          {{/if}}
                        {{/each}}
                      {{/properties}}
                    </div>

                    <div class="grid grid--table">
                      <div class="grid__item one-half">
                        <div class="ajaxcart__qty">
                          <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--minus" data-id="{{key}}" data-qty="{{itemMinus}}" data-line="{{line}}" aria-label="{% endraw %}{{ 'cart.label.reduce_quantity' | t }}{% raw %}">
                            <span class="icon icon-minus" aria-hidden="true"></span>
                            <span class="icon__fallback-text" aria-hidden="true">&minus;</span>
                          </button>
                          <input type="text" name="updates[]" class="ajaxcart__qty-num" value="{{itemQty}}" min="0" data-id="{{key}}" data-line="{{line}}" aria-label="quantity" pattern="[0-9]*">
                          <button type="button" class="ajaxcart__qty-adjust ajaxcart__qty--plus" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}" aria-label="{% endraw %}{{ 'cart.label.increase_quantity' | t }}{% raw %}">
                            <span class="icon icon-plus" aria-hidden="true"></span>
                            <span class="icon__fallback-text" aria-hidden="true">+</span>
                          </button>
                        </div>
                      </div>
                      <div class="grid__item one-half text-right">
                      {{#if discountsApplied}}
                        <small class="ajaxcart-item__price-strikethrough"><s>{{{originalLinePrice}}}</s></small>
                        <br><span>{{{linePrice}}}</span>
                      {{else}}
                         <span>{{{linePrice}}}</span>
                      {{/if}}
                      </div>
                    </div>
                    {{#if discountsApplied}}
                      <div class="grid grid--table">
                        <div class="grid__item text-right">
                          {{#each discounts}}
                            <small class="ajaxcart-item__discount">{{ this.title }}</small><br>
                          {{/each}}
                        </div>
                      </div>
                    {{/if}}
                  </div>
                </div>
              </div>
            </div>
            {{/items}}

            {% endraw %}{% if settings.cart_notes_enable %}{% raw %}
              <div class="ajaxcart__row">
                <label for="CartSpecialInstructions" class="ajaxcart__note txt--minor">{% endraw %}{{ 'cart.general.note' | t }}{% raw %}</label>
                <textarea name="note" class="input-full" id="CartSpecialInstructions">{{note}}</textarea>
              </div>
            {% endraw %}{% endif %}{% raw %}
          </div>
          <div class="ajaxcart__footer ajaxcart__footer--fixed">
            <div class="ajaxcart__subtotal">
              <div class="grid grid--table">
                <div class="grid__item two-thirds">
                  <span class="ajaxcart__subtotal-title h3">{% endraw %}{{ 'cart.general.subtotal' | t }}{% raw %}</span>
                </div>
                <div class="grid__item one-third text-right">
                  <span>{{{totalPrice}}}</span>
                </div>
              </div>
              {{#if totalCartDiscountApplied}}
                <p class="ajaxcart__savings text-center"><em>{{{totalCartDiscount}}}</em></p>
              {{/if}}
            </div>
            <p class="text-center ajaxcart__note txt--minor">{% endraw %}{{ 'cart.general.shipping_at_checkout' | t }}{% raw %}</p>
            <button type="submit" class="btn btn--full cart__checkout" name="checkout">
              {% endraw %}{{ 'cart.general.checkout' | t }}{% raw %}
            </button>
          </div>
        </form>
      {% endraw %}
    </script>
    <script id="JsQty" type="text/template">
      {% raw %}
        <div class="js-qty">
          <button type="button" class="js-qty__adjust js-qty__adjust--minus" data-id="{{key}}" data-qty="{{itemMinus}}" aria-label="{% endraw %}{{ 'cart.label.reduce_quantity' | t }}{% raw %}">
            <span class="icon icon-minus" aria-hidden="true"></span>
            <span class="icon__fallback-text" aria-hidden="true">&minus;</span>
          </button>
          <input type="text" class="js-qty__num" value="{{itemQty}}" min="1" data-id="{{key}}" aria-label="quantity" pattern="[0-9]*" name="{{inputName}}" id="{{inputId}}">
          <button type="button" class="js-qty__adjust js-qty__adjust--plus" data-id="{{key}}" data-qty="{{itemAdd}}" aria-label="{% endraw %}{{ 'cart.label.increase_quantity' | t }}{% raw %}">
            <span class="icon icon-plus" aria-hidden="true"></span>
            <span class="icon__fallback-text" aria-hidden="true">+</span>
          </button>
        </div>
      {% endraw %}
    </script>

  {% endif %}

</body>
</html>
