<!-- /templates/customers/activate_account.liquid -->

<div class="grid">
  <div class="grid__item large--one-third push--large--one-third text-center">

    <header class="section-header">
      <h1>{{t 'customer.activate_account.title'}}</h1>
      <p>{{t 'customer.activate_account.subtext'}}</p>
      <hr class="hr--small">
    </header>

    {{#comment}}
      This form must use 'activate_customer_password'
    {{/comment}}
    <div class="form-vertical">
      {{#form 'activate_customer_password'}}

        {{default_errors form.errors}}

        <label for="CustomerPassword" class="hidden-label">{{t 'customer.activate_account.password'}}</label>
        <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full" placeholder="{{t 'customer.activate_account.password'}}">

        <label for="CustomerPasswordConfirmation" class="hidden-label">{{t 'customer.activate_account.password_confirm'}}</label>
        <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" class="input-full" placeholder="{{t 'customer.activate_account.password_confirm'}}">

        <input type="submit" class="btn btn--full" value="{{t 'customer.activate_account.submit'}}">
        <input type="submit" class="btn--secondary btn--full" name="decline" value="{{t 'customer.activate_account.cancel'}}">
      {{/form}}
    </div>

  </div>
</div>
