<!-- /templates/customers/register.liquid -->

<div class="grid">

  <div class="grid__item large--one-third push--large--one-third text-center">

    <header class="section-header">
      <h1>{{t 'customer.register.title'}}</h1>
      <hr class="hr--small">
    </header>

    <div class="form-vertical">
      {{#form 'create_customer'}}

        {{default_errors form.errors}}

        <label for="FirstName" class="hidden-label">{{t 'customer.register.first_name'}}</label>
        <input type="text" name="customer[first_name]" id="FirstName" class="input-full" placeholder="{{t 'customer.register.first_name'}}" {{#if form.first_name}}value="{{ form.first_name }}"{{/if}} autocapitalize="words" autofocus>

        <label for="LastName" class="hidden-label">{{t 'customer.register.last_name'}}</label>
        <input type="text" name="customer[last_name]" id="LastName" class="input-full" placeholder="{{t 'customer.register.last_name'}}" {{#if form.last_name}}value="{{ form.last_name }}"{{/if}} autocapitalize="words">

        <label for="Email" class="hidden-label">{{t 'customer.register.email'}}</label>
        <input type="email" name="customer[email]" id="Email" class="input-full{{#if (contains form.errors 'email')}} error{{/if}}" placeholder="{{t 'customer.register.email'}}" {{#if form.email}} value="{{ form.email }}"{{/if}} autocorrect="off" autocapitalize="off">

        <label for="CreatePassword" class="hidden-label">{{t 'customer.register.password'}}</label>
        <input type="password" name="customer[password]" id="CreatePassword" class="input-full{{#if (contains form.errors 'password')}} error{{/if}}" placeholder="{{t 'customer.register.password'}}">

        <p>
          <input type="submit" value="{{t 'customer.register.submit'}}" class="btn btn--full">
        </p>
        <a href="{{ shop.url }}">{{t 'customer.register.cancel'}}</a>

      {{/form}}
    </div>

  </div>

</div>
