<!-- /templates/customers/reset_password.liquid -->

<div class="grid">
  <div class="grid__item large--one-third push--large--one-third text-center">

    <div class="form-vertical">
      {{#form 'reset_customer_password'}}

        <header class="section-header">
          <h1>{{t 'customer.reset_password.title'}}</h1>
          <p>{{t 'customer.reset_password.subtext' email email}}</p>
          <hr class="hr--small">
        </header>

        {{default_errors form.errors}}

        <label for="ResetPassword" class="hidden-label">{{t 'customer.reset_password.password'}}</label>
        <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{{#if (contains form.errors 'password')}} error{{/if}}" placeholder="{{t 'customer.reset_password.password'}}">

        <label for="PasswordConfirmation" class="hidden-label">{{t 'customer.reset_password.password_confirm'}}</label>
        <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{{#if (contains form.errors 'password_confirmation')}} error{{/if}}" placeholder="{{t 'customer.reset_password.password_confirm'}}">

        <div class="text-center">
          <input type="submit" class="btn btn--full" value="{{t 'customer.reset_password.submit'}}">
        </div>

      {{/form}}
    </div>

  </div>
</div>
