<div class="grid">
  <div class="grid__item wide--one-third large--one-half small--text-center">

    {{#comment}}
      This form must use 'reset_customer_password'
    {{/comment}}
    {{#form 'reset_customer_password'}}

      <div class="section-header">
        <h1 class="section-header__title">{{t 'customer.reset_password.title'}}</h1>
      </div>

      <p>{{t 'customer.reset_password.subtext' email email}}</p>

      {{default_errors form.errors}}

      <label for="ResetPassword">{{t 'customer.reset_password.password'}}</label>
      <input type="password" value="" name="customer[password]" id="ResetPassword" {{#if (contains form.errors 'password')}} class="error"{{/if}}>

      <label for="PasswordConfirmation">{{t 'customer.reset_password.password_confirm'}}</label>
      <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" {{#if (contains form.errors 'password_confirmation')}} class="error"{{/if}}>

      <p>
        <input type="submit" class="btn" value="{{t 'customer.reset_password.submit'}}">
      </p>

    {{/form}}

  </div>
</div>
