<div class="card critical-clear" data-animate>
  <a href="{{ article.url }}" class="card__wrapper card--article">
    {% if article.image %}
      {% assign article_image = article.image %}
    {% else %}
      {% assign article_image = article.products.first %}
    {% endif %}

    {% if article_image != blank and section.settings.blog_show_image %}
      {% if blog.articles.size == 1 or section.settings.post_limit == 1 %}
        <div class="medium-up--one-half card-list__column--half-left">
      {% endif %}

      {% include 'card-image', type: article_image %}

      {% if blog.articles.size == 1 or section.settings.post_limit == 1 %}
        </div>
      {% endif %}
    {% endif %}

    {% if section.settings.blog_show_image %}
      {% if blog.articles.size == 1 or section.settings.post_limit == 1 %}
        <div class="medium-up--one-half card-list__column--half-right">
      {% endif %}
    {% endif %}

    <div class="card__info">
      {% if section.settings.blog_show_date %}
        <span class="article__date text-small--uppercase">
          {{ article.published_at | time_tag: format: 'month_day_year' }}
        </span>
      {% endif %}
      {% if section.settings.blog_show_author %}
        <span class="article__author text-small--uppercase">
          {{ article.author }}
        </span>
      {% endif %}
      <h2 class="card__name h4">{{ article.title }}</h2>
      {% if section.settings.blog_show_excerpt %}
        <div class="card__excerpt rte">
          {% if article.excerpt.size > 0 %}
            {{ article.excerpt }}
          {% else %}
            {{ article.content | strip_html | truncatewords: 30 }}
          {% endif %}
        </div>
      {% endif %}
      <span class="card__read-more">
        {{ 'blogs.article.read_more' | t }}
        {% include 'icon-arrow-right' %}
      </span>
    </div>

    {% if section.settings.blog_show_image %}
      {% if blog.articles.size == 1 or section.settings.post_limit == 1 %}
        </div>
      {% endif %}
    {% endif %}
  </a>
</div>
