<div class="featured-blog featured-blog--{{ section.id }}" data-section-id="{{ section.id }}">

  {{assign 'blog' (get blogs section.settings.blog)}}

  {{#is section.settings.post_limit 4}}
      {{assign 'width' 'small--one-whole medium--one-half post-large--one-quarter'}}
    {{else is section.settings.post_limit 3}}
      {{assign 'width' 'small--one-whole medium--one-third post-large--one-third'}}
    {{else is section.settings.post_limit 2}}
      {{assign 'width' 'small--one-whole medium--one-half post-large--one-half'}}
    {{else is section.settings.post_limit 1}}
      {{#if section.settings.blog_show_image}}
        {{assign 'width' 'small--one-whole medium--one-half post-large--one-half'}}
      {{else}}
        {{assign 'width' 'text-center one-whole'}}
      {{/if}}
    {{else}}
      {{assign 'width' 'small--one-whole medium--one-third post-large--one-third'}}
  {{/is}}

  {{#if (isnt section.settings.title blank)}}
    <div class="section-header section-header--small">
      <h2 class="section-header__title">{{escape section.settings.title}}</h2>
    </div>
  {{/if}}

  {{#unless (is blog.articles_count 0)}}
    <div class="grid-uniform">
      {{#each (limit blog.articles section.settings.post_limit) as |article|}}
        <div class="grid__item {{ width }}">
          <div class="featured-blog__post">

            {{#if section.settings.blog_show_image}}
              {{#unless (is article.image blank)}}
                <a class="article__featured-link" href="{{ article.url }}">
                  <noscript>
                    {{escape (img_tag (img_url article.image '1024x1024') article.title)}}
                  </noscript>
                  <div class="article__featured-image-wrapper" style="padding-top:{{times (divided_by 1 article.image.aspect_ratio) 100}}%;">
                    {{assign 'img_url' (replace (img_url article.image '1x1') '_1x1.' '_{width}x.')}}
                    <img class="article__featured-image lazyload"
                      src="{{img_url article.image '300x300'}}"
                      data-src="{{ img_url }}"
                      data-widths="[310, 360, 480, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                      data-aspectratio="{{ article.image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{escape article.title}}">
                  </div>
                </a>
              {{/unless}}
            {{/if}}

            {{#unless (and (is section.settings.post_limit 1) section.settings.blog_show_image)}}
              {{include 'featured-blog",' article: article}}
            {{/unless}}

          </div>
        </div>

        {{#if (and (is section.settings.post_limit 1) section.settings.blog_show_image)}}
          <div class="grid__item {{ width }}">
            <div class="featured-blog__post">
               {{include 'featured-blog",' article: article}}
            </div>
          </div>
        {{/if}}

      {{/each}}
    </div>

  {{else}}
    {{include 'onboarding-featured-blog'}}
  {{/unless}}

  {{#if (is blog empty)}}
    {{include 'onboarding-featured-blog'}}
  {{/if}}

  {{#if section.settings.show_view_all}}
    <div class="section-header text-center">
      <a href="{{ blog.url }}" class="btn">
        {{t 'blogs.article.view_all'}}
      </a>
    </div>
  {{/if}}

</div>

{{#schema}}
  {
    "name": "Blog posts",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "range",
        "id": "post_limit",
        "label": "Posts",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_image",
        "label": "Show cover image",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_excerpt",
        "label": "Show excerpt",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show 'View all' button",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog",
        "settings": {
          "blog": "News"
        }
      }
    ]
  }
{{/schema}}
