{{assign 'product' (get all_products section.settings.featured_product)}}
{{assign 'variant' product.selected_or_first_available_variant}}

{{#if (is product empty)}}
  {{assign 'section_onboarding' true}}
  {{assign 'vendor' (t 'home_page.onboarding.product_vendor')}}
  {{assign 'title' (t 'home_page.onboarding.product_title')}}
  {{assign 'compare_at_price' 2999}}
  {{assign 'price' 1999}}
{{else}}
  {{assign 'section_onboarding' false}}
  {{assign 'vendor' product.vendor}}
  {{assign 'title' product.title}}
  {{assign 'compare_at_price' variant.compare_at_price}}
  {{assign 'price' variant.price}}
{{/if}}

{{#comment}}
  Check if the product is sold out and set a variable to be used below.
{{/comment}}
{{assign 'sold_out' true}}
{{#if product.available}}
  {{assign 'sold_out' false}}
{{/if}}

<div itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product-template" data-zoom-enable="{{ section.settings.product_image_zoom_enable }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{img_url product.featured_image.src 'grande'}}">

  <div class="grid">
    <div class="grid-item large--one-half text-center">
      <div class="product-single__photos">
        {{#unless section_onboarding}}
          {{assign 'featured_image' (default variant.featured_image product.featured_image)}}

          {{#each product.images as |image|}}
            {{#capture 'img_id'}}ProductImage-{{ image.id }}{{/capture}}
            {{#capture 'img_wrapper_id'}}ProductImageWrapper-{{ image.id }}{{/capture}}
            {{assign 'img_url' (replace (img_url image '1x1') '_1x1.' '_{width}x.')}}
            {{include 'image-style' image: image, small_style: false, width: 480, height: 480, wrapper_id: img_wrapper_id, img_id: img_id}}

            <div id="{{ img_wrapper_id }}" class="product-single__image-wrapper js{{#unless (is featured_image image)}} hide{{/unless}}" data-image-id="{{ image.id }}">
              <div style="padding-top:{{times (divided_by 1 image.aspect_ratio) 100}}%;">
                <img id="{{ img_id }}"
                    class="product-single__image lazyload{{#unless (is featured_image image)}} lazypreload{{/unless}}"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ image.aspect_ratio }}"
                    data-sizes="auto"
                    {{#if section.settings.product_image_zoom_enable}} data-zoom="{{img_url image '1024x1024'}}"{{/if}}
                    alt="{{escape image.alt}}">
              </div>
            </div>
          {{else}}
            <img src="{{img_url image 'large'}}">
          {{/each}}

          <noscript>
            <img src="{{img_url featured_image 'large'}}" alt="{{escape featured_image.alt}}">
          </noscript>
        {{else}}
          {{placeholder_svg_tag 'product-1' 'placeholder-svg'}}
        {{/unless}}
      </div>
    </div>

    <div class="grid-item large--one-half">

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

        {{#if collection.handle}}
          <a href="{{ collection.url }}" class="collection-title text-center" item-prop="collection">{{ collection.title }}</a>
        {{/if}}

        <h1 itemprop="name" class="product-single__title text-center{{#if section.settings.product_vendor_enable}} wvendor{{/if}}">{{ title }}</h1>
        {{#if section.settings.product_vendor_enable}}
          <p class="product-single__vendor text-center">{{link_to_vendor vendor}}</p>
        {{/if}}
        <hr class="hr--small">

        {{#comment}}
          Optionally show the 'compare at' or original price of the product.
        {{/comment}}

        <div class="h2 product-single__price text-center">
          {{#if (gt compare_at_price price)}}
            <span class="visuallyhidden compare-price-a11y">{{t 'products.general.sale_price'}}</span>
          {{else}}
            <span class="visuallyhidden price-a11y">{{t 'products.general.regular_price'}}</span>
          {{/if}}
          <span class="product-price" {{#if (gt compare_at_price price)}} class="on-sale"{{/if}}>
            {{money price}}
          </span>

          {{#if (gt compare_at_price price)}}
            <span class="visuallyhidden price-a11y">{{t 'products.general.regular_price'}}</span>
            <del class="compare-price">{{money compare_at_price}}</del>
          {{/if}}
        </div>

        {{#comment}}
          Get first variant, or deep linked one
        {{/comment}}
        {{assign 'variant' product.selected_or_first_available_variant}}

        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{divided_by variant.price 100.00}}">

        <link itemprop="availability" href="http://schema.org/{{#if variant.available}}InStock{{else}}OutOfStock{{/if}}">

        {{#comment}}
          ID addToCartForm is a selector for the ajaxify cart plugin
        {{/comment}}
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="addToCartForm-{{ section.id }}">

          {{#comment}}
            Add product variants as a dropdown.
              - By default, each variant (or combination of variants) will display as its own <option>
              - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

            You can leverage jQuery to add a callback on page load and each time the select element changes:
              - Include option_selection.js (as seen at the bottom of this file)
              - This allows you to use JavaScript anytime the variant dropdown changes
              - This also separates out your variant options (ie. size, color, etc.) to separate select elements

            For more information on products with multiple options, visit:
              - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
          {{/comment}}
          {{#unless section_onboarding}}
            <div class="product-single__variants">
              <select name="id" id="ProductSelect-{{ section.id }}" class="product-single__variants">
                {{#each product.variants as |variant|}}
                  {{#if variant.available}}

                    {{#comment}}
                      Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
                    {{/comment}}
                    <option {{#if (is variant product.selected_or_first_available_variant)}} selected="selected" {{/if}} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{money_with_currency variant.price}}</option>

                  {{else}}
                    <option disabled="disabled">
                      {{ variant.title }} - {{t 'products.product.sold_out'}}
                    </option>
                  {{/if}}
                {{/each}}
              </select>
            </div>
          {{/unless}}

          <div class="grid--uniform product-single__addtocart">
            {{#if section.settings.product_qty_enable}}
              {{#unless sold_out}}<label>{{t 'products.product.quantity'}}</label>{{/unless}}
              <input type="number" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
            {{/if}}
            <button type="submit" name="add" id="addToCart-{{ section.id }}" class="btn btn--large btn--full"{{#unless variant.available}} disabled="disabled"{{/unless}}>
              <span class="add-to-cart-text">
                {{#if variant.available}}
                  {{t 'products.product.add_to_cart'}}
                {{else}}
                  {{t 'products.product.sold_out'}}
                {{/if}}
              </span>
            </button>
          </div>

        </form>

        <div class="text-center">
          <a class="full-details text-link"{{#unless section_onboarding}} href="{{ product.url }}?variant={{ variant.id }}"{{/unless}}>
            {{t 'products.product.full_details'}} &#x2192;
          </a>
        </div>

      </div>

      <div class="text-center">
        {{#if section.settings.share_enable}}
          {{include 'social-sharing'}}
        {{/if}}
      </div>

    </div>
  </div>
</div>

{{#unless (is product empty)}}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{json product}}
  </script>
{{/unless}}

{{#schema}}
  {
    "name": "Featured product",
    "class": "index-section",
    "settings": [
      {
        "type": "product",
        "id": "featured_product",
        "label": "Product"
      },
      {
        "type": "checkbox",
        "id": "product_qty_enable",
        "label": "Show quantity selector"
      },
      {
        "type": "checkbox",
        "id": "product_vendor_enable",
        "label": "Show vendor"
      },
      {
        "type": "checkbox",
        "id": "product_image_zoom_enable",
        "label": "Enable image zoom"
      },
      {
        "type": "checkbox",
        "id": "share_enable",
        "label": "Show social sharing buttons",
        "default": true,
        "info": "Edit social accounts in General settings"
      }
    ],
    "presets": [
      {
        "name": "Featured product",
        "category": "Product"
      }
    ]
  }
{{/schema}}
