{{#capture 'borderWidth'}}{{ settings.border_width }}px{{/capture}}
{{#capture 'colorBorder'}}{{ settings.color_borders }}{{/capture}}

<style>
.site-footer {
  padding: 0 0 30px;

  {{#if section.settings.border_footer}}
    border-top: {{ borderWidth }} solid {{ colorBorder }};
    margin-top: 15px;
  {{/if}}
}

@media screen and (min-width: 1025px) {
  .site-footer {
    {{#if section.settings.border_footer}}
      margin-top: 60px;
    {{/if}}
    padding: 60px 0;
  }
}
</style>

<footer class="site-footer small--text-center medium--text-center" role="contentinfo">

  <div class="wrapper">

    <hr class="hr--clear large--hide">

    {{#comment}}
      This checks which parts of the footer are turned on and adjusts the layout accordingly.
    {{/comment}}

    {{#if (or (isnt settings.social_twitter_link blank) (isnt settings.social_facebook_link blank) (isnt settings.social_pinterest_link blank) (isnt settings.social_google_plus_link blank) (isnt settings.social_instagram_link blank) (isnt settings.social_tumblr_link blank) (isnt settings.social_snapchat_link blank) (isnt settings.social_youtube_link blank) (isnt settings.social_vimeo_link blank) (isnt settings.social_fancy_link blank))}}
      {{assign 'show_social_icons' true}}
    {{else}}
      {{assign 'show_social_icons' false}}
    {{/if}}

    {{assign 'flexifooter' 0}}
    {{#if (or (isnt section.settings.footer_custom_content blank) (isnt section.settings.footer_custom_title blank))}}
      {{assign 'flexifooter' (plus flexifooter 1)}}
    {{/if}}
    {{#if (or section.settings.footer_newsletter_enable show_social_icons)}}
      {{assign 'flexifooter' (plus flexifooter 1)}}
    {{/if}}

    {{#if (gt flexifooter 0)}}

      <div class="{{#if (is flexifooter 1)}}text-center{{else}}grid{{/if}}">

      {{#if (or (isnt section.settings.footer_custom_content blank) (isnt section.settings.footer_custom_title blank))}}

        {{#if (is flexifooter 2)}}
          <div class="grid-item large--two-thirds">
        {{/if}}

        {{#if (isnt section.settings.footer_custom_title blank)}}
          <h3 class="h5 onboarding-header">{{escape section.settings.footer_custom_title}}</h3>
        {{/if}}

        <div class="rte">
          {{ section.settings.footer_custom_content }}
        </div>

        {{#if (is flexifooter 2)}}
          </div>
        {{/if}}

      {{/if}}

      {{#if (or section.settings.footer_newsletter_enable show_social_icons)}}

        {{#if (is flexifooter 2)}}
          <div class="grid-item large--one-third">
        {{/if}}

          <hr class="hr--clear large--hide">

          <h3 class="h5">{{t 'layout.footer.social_title'}}</h3>

          {{#if section.settings.footer_newsletter_enable}}
            <div class="grid">
              <div class="grid-item medium--two-thirds push--medium--one-sixth">
                {{include 'newsletter-form'}}
              </div>
            </div>
          {{/if}}

          {{#if show_social_icons}}

            {{#comment}}
              Loop through the social network links
            {{/comment}}
            <ul class="inline-list social-icons">
              {{#if (isnt settings.social_twitter_link blank)}}
                <li>
                  <a class="icon-fallback-text" href="{{escape settings.social_twitter_link}}" title="{{t 'layout.footer.social_platform' name shop.name platform 'Twitter'}}">
                    <span class="icon icon-twitter" aria-hidden="true"></span>
                    <span class="fallback-text">Twitter</span>
                  </a>
                </li>
              {{/if}}
              {{#if (isnt settings.social_facebook_link blank)}}
                <li>
                  <a class="icon-fallback-text" href="{{escape settings.social_facebook_link}}" title="{{t 'layout.footer.social_platform' name shop.name platform 'Facebook'}}">
                    <span class="icon icon-facebook" aria-hidden="true"></span>
                    <span class="fallback-text">Facebook</span>
                  </a>
                </li>
              {{/if}}
              {{#if (isnt settings.social_pinterest_link blank)}}
                <li>
                  <a class="icon-fallback-text" href="{{escape settings.social_pinterest_link}}" title="{{t 'layout.footer.social_platform' name shop.name platform 'Pinterest'}}">
                    <span class="icon icon-pinterest" aria-hidden="true"></span>
                    <span class="fallback-text">Pinterest</span>
                  </a>
                </li>
              {{/if}}
              {{#if (isnt settings.social_google_plus_link blank)}}
                <li>
                  <a class="icon-fallback-text" href="{{escape settings.social_google_plus_link}}" title="{{t 'layout.footer.social_platform' name shop.name platform 'Google Plus'}}" rel="publisher">
                    <span class="icon icon-google_plus" aria-hidden="true"></span>
                    <span class="fallback-text">Google</span>
                  </a>
                </li>
              {{/if}}
              {{#if (isnt settings.social_instagram_link blank)}}
                <li>
                  <a class="icon-fallback-text" href="{{escape settings.social_instagram_link}}" title="{{t 'layout.footer.social_platform' name shop.name platform 'Instagram'}}">
                    <span class="icon icon-instagram" aria-hidden="true"></span>
                    <span class="fallback-text">Instagram</span>
                  </a>
                </li>
              {{/if}}
              {{#if (isnt settings.social_tumblr_link blank)}}
                <li>
                  <a class="icon-fallback-text" href="{{escape settings.social_tumblr_link}}" title="{{t 'layout.footer.social_platform' name shop.name platform 'Tumblr'}}">
                    <span class="icon icon-tumblr" aria-hidden="true"></span>
                    <span class="fallback-text">Tumblr</span>
                  </a>
                </li>
              {{/if}}
              {{#if (isnt settings.social_snapchat_link blank)}}
                <li>
                  <a class="icon-fallback-text" href="{{escape settings.social_snapchat_link}}" title="{{t 'layout.footer.social_platform' name shop.name platform 'Snapchat'}}">
                    <span class="icon icon-snapchat" aria-hidden="true"></span>
                    <span class="fallback-text">Snapchat</span>
                  </a>
                </li>
              {{/if}}
              {{#if (isnt settings.social_youtube_link blank)}}
                <li>
                  <a class="icon-fallback-text" href="{{escape settings.social_youtube_link}}" title="{{t 'layout.footer.social_platform' name shop.name platform 'YouTube'}}">
                    <span class="icon icon-youtube" aria-hidden="true"></span>
                    <span class="fallback-text">YouTube</span>
                  </a>
                </li>
              {{/if}}
              {{#if (isnt settings.social_vimeo_link blank)}}
                <li>
                  <a class="icon-fallback-text" href="{{escape settings.social_vimeo_link}}" title="{{t 'layout.footer.social_platform' name shop.name platform 'Vimeo'}}">
                    <span class="icon icon-vimeo" aria-hidden="true"></span>
                    <span class="fallback-text">Vimeo</span>
                  </a>
                </li>
              {{/if}}
              {{#if (isnt settings.social_fancy_link blank)}}
                <li>
                  <a class="icon-fallback-text" href="{{escape settings.social_fancy_link}}" title="{{t 'layout.footer.social_platform' name shop.name platform 'Fancy'}}">
                    <span class="icon icon-fancy" aria-hidden="true"></span>
                    <span class="fallback-text">Fancy</span>
                  </a>
                </li>
              {{/if}}
            </ul>

          {{/if}}

        {{#if (is flexifooter 2)}}
          </div>
        {{/if}}

      {{/if}}

      </div>

    {{/if}}

    <hr class="hr--clear">

    {{#if section.settings.footer_search_enable}}
      <div class="grid">
        <div class="grid-item medium--two-thirds push--medium--one-sixth large--one-half push--large--one-quarter nav-search">
          <h3 class="h5 text-center">{{t 'general.search.title'}}</h3>
          {{include 'search-bar'}}
        </div>
      </div>
    {{/if}}

    <div class="text-center">
      {{#if (isnt (get linklists (toPath section.settings.menu 'links')) blank)}}
        <ul class="inline-list nav-secondary">
          {{#each (get linklists (toPath section.settings.menu 'links')) as |link|}}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {{/each}}
        </ul>
      {{/if}}
    </div>

    {{#comment}}
      Loop through available payment methods and show their icons.
    {{/comment}}
    {{#unless (is shop.enabled_payment_types empty)}}
      {{assign 'payment_icons_available' (split 'amazon_payments,american_express,apple_pay,bitcoin,cirrus,dankort,diners_club,discover,dogecoin,dwolla,forbrugsforeningen,interac,jcb,litecoin,maestro,master,paypal,visa' ',')}}
      <ul class="inline-list payment-icons text-center">
        {{#each shop.enabled_payment_types as |type|}}
          {{#if (contains payment_icons_available type)}}
            <li>
              <span class="icon-fallback-text">
                <span class="icon icon-{{ type }}" aria-hidden="true"></span>
                <span class="fallback-text">{{replace type '_' ' '}}</span>
              </span>
            </li>
          {{/if}}
        {{/each}}
      </ul>
    {{/unless}}

    <div class="text-center">
      <small>
        {{t 'layout.footer.copyright'}} &copy; {{date 'now' '%Y'}} {{link_to shop.name '/'}} | {{ powered_by_link }}<br>
      </small>
    </div>

  </div>

</footer>

{{#schema}}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "text",
        "id": "footer_custom_title",
        "label": "Heading",
        "default": "Custom content"
      },
      {
        "type": "richtext",
        "id": "footer_custom_content",
        "label": "Text",
        "default": "<p>Add new content to display here.</p>"
      },
      {
        "type": "checkbox",
        "id": "footer_newsletter_enable",
        "label": "Show newsletter signup"
      },
      {
        "type": "checkbox",
        "id": "footer_search_enable",
        "label": "Show search"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Footer menu"
      },
      {
        "type": "checkbox",
        "id": "border_footer",
        "label": "Show border"
      }
    ]
  }
{{/schema}}
