<style>
  .password-page__logo .logo {
    width: {{escape section.settings.logo_max_width}}px;
  }
</style>

<header class="password-page__header" role="banner" data-section-id="{{ section.id }}" data-section-type="password-header">

  <div class="password-page__header__inner">

    {{#comment}}
      Link to password modal
    {{/comment}}
    <p class="password-login text-right small--text-center">
      <a href="#LoginModal" class="js-toggle-login-modal" data-mfp-src="#LoginModal">
        {{include 'svg-definitions' 'lock-icon'}}
        {{t 'general.password_page.password_link'}}
      </a>
    </p>

    {{#comment}}
      Site name or logo
    {{/comment}}
    <div class="password-page__logo">
      <h1 class="h2" itemscope itemtype="http://schema.org/Organization">
      {{assign 'logo_width' (times (escape section.settings.logo_max_width) 1)}}
      {{#if (isnt section.settings.logo blank)}}
        {{#if (lte logo_width 2048)}}
          {{#capture 'image_size'}}{{escape section.settings.logo_max_width}}x{{/capture}}
        {{else}}
          {{#capture 'image_size'}}2048x{{/capture}}
        {{/if}}
        <img class="logo" src="{{img_url section.settings.logo image_size}}" alt="{{ shop.name }}" itemprop="logo">
      {{else}}
        <span>{{ shop.name }}</span>
      {{/if}}
      </h1>
    </div>

  </div>

</header>

{{#schema}}
  {
    "name": "Header",
    "class": "password-header-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels, max 2048)",
        "default": "200"
      }
    ]
  }
{{/schema}}
