<div class="wrapper wrapper--margins">

  <div class="text-center">

    {% if section.settings.newsletter_enable %}

    <div class="password-form">
      {% form 'customer' %}
        {% if form.posted_successfully? %}
          <p class="password-form-heading">{{ 'general.password_page.signup_form_success' | t }}</p>
        {% else %}
          {{ form.errors | default_errors }}
          <p class="password-form-heading">{{ section.settings.newsletter_form_heading | escape }}</p>
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
          <div class="password-input-group clearfix">
            <input type="text" name="contact[email]" id="email" placeholder="{{ section.settings.newsletter_placeholder | escape }}" autofocus>
            <input type="submit" class="btn btn--regular btn--fill btn--color" name="commit" value="{{ section.settings.newsletter_button_text | escape }}">
          </div>
        {% endif %}
      {% endform %}
    </div>

    {% endif %}

    {% if section.settings.show_share_buttons %}
      {% include 'page_share' %}
    {% endif %}

  </div>

  <footer id="password-footer" role="contentinfo">

    {% capture shopify %}
      <a class="shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">
        <span aria-hidden="true">{% include 'asset_svg' with 'shopify' %}</span>
        <span class="text shopify-name">Shopify</span>
      </a>
    {% endcapture %}

    {{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}

  </footer>

</div>

{% schema %}
  {
    "name": "Content",
    "class": "password-content-section password-page-section",
    "settings": [
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "Find out when we open",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Your email"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Submit"
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
