<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="modern no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title>{{ shop.name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="theme-color" content="{{ settings.color_nav_bg }}">

    {{#if settings.favicon}}
      <link rel="shortcut icon" href="{{img_url settings.favicon '32x32'}}" type="image/png" />
    {{/if}}

    <!-- Social Meta Tags ===================================== -->
    {{include 'social-meta-tags'}}

    {{#unless (is shop.description blank)}}
      <meta name="description" content="{{escape shop.description}}">
    {{/unless}}

    <script>
      window.theme = window.theme || {};
      theme.settings = {
        cartType: {{json settings.cart_type}}
      };
    </script>

    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{asset_url 'vendor.js'}}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{asset_url 'vendor.js'}}"></script><![endif]-->

    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{asset_url 'theme.js'}}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{asset_url 'theme.js'}}"></script><![endif]-->


    {{ content_for_header }}

    <!-- CSS ================================================== -->
    {{stylesheet_tag (asset_url 'theme.scss.css')}}

    <!-- Google Fonts | from theme settings ================================================== -->
    {{#if (contains settings.type_base_family 'Google')}}
      {{assign 'type_base_parts' (split settings.type_base_family '_')}}
      {{#capture 'base_google_url'}}{{get type_base_parts 1}}:{{get type_base_parts 2}}{{/capture}}
      {{stylesheet_tag (append '//fonts.googleapis.com/css?family=' base_google_url)}}
    {{/if}}
    {{#if (contains settings.type_header_family 'Google')}}
      {{#unless (contains settings.type_header_family (get type_base_parts 1))}}
        {{assign 'type_header_parts' (split settings.type_header_family '_')}}
        {{#capture 'header_google_url'}}{{get type_header_parts 1}}:{{get type_header_parts 2}}{{/capture}}
        {{stylesheet_tag (append '//fonts.googleapis.com/css?family=' header_google_url)}}
      {{/unless}}
    {{/if}}

    <!-- Fixes for Older Versions of IE ================================================== -->
    {{#comment}}
      oldIE fixes/shivs
      HTML5 shiv, Selectivizer
      - respond.js Gavin Ballard
      - http://gavinballard.com/using-respond.js-with-shopify-redux/
    {{/comment}}
    {{assign 'respond_js_secret_key' (md5 shop.domain)}}
    <!--[if lt IE 9]>
    {{script_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js'}}
    {{script_tag (asset_url 'respond.min.js')}}
    <link href="{{first (split (asset_url 'respond-proxy.html') '?')}}" id="respond-proxy" rel="respond-proxy" />
    <link href="//{{ shop.domain }}/search?q={{ respond_js_secret_key }}" id="respond-redirect" rel="respond-redirect" />
    <script src="//{{ shop.domain }}/search?q={{ respond_js_secret_key }}" type="text/javascript"></script>
    <![endif]-->


    <!-- JS ================================================== -->
    {{script_tag (asset_url 'modernizr.min.js')}}
    {{script_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'}}

  </head>

  <body class="template-password">

    <div class="password-page text-center">

      {% body %}

    </div>

    <div id="LoginModal" class="modal">
      <div class="modal__inner">
        <div class="modal__centered password-modal__content page-width text-center">
          <p class="h4">{{t 'general.password_page.login_form_heading'}}</p>
          <div class="password-login-form">
            {{#form 'storefront_password'}}
              {{default_errors form.errors}}
              <label for="password" class="label--hidden">{{t 'general.password_page.login_form_password_label'}}</label>
              <div class="input-group">
                <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{t 'general.password_page.login_form_password_placeholder'}}">
                <span class="input-group__btn">
                  <button type="submit" name="commit" class="btn btn--narrow">
                    {{t 'general.password_page.login_form_submit'}}
                  </button>
                </span>
              </div>
            {{/form}}
          </div>
          <p>{{t 'general.password_page.admin_link_html'}}</p>
        </div>
      </div>
      <button type="button" class="modal__close js-modal-close text-link">
        <span class="icon icon-x" aria-hidden="true"></span>
        <span class="icon__fallback-text">{{json (t 'general.password_page.close_modal')}}</span>
      </button>
    </div>

    {{script_tag (asset_url 'theme.js')}}
  </body>
</html>
