<div class="page-width">
  <header class="section-header text-center">
    <h1 class="section-header__title h2">{{{ page_title }}}</h1>
  </header>
  <div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
      {{#if (isnt page.content blank)}}
        <div class="rte rte--contact">
          {{{ page.content }}}
        </div>
      {{/if}}

      {{#form 'contact'}}
        {{#if form.posted_successfully}}
          <p class="form-success">
            {{t 'contact.form.post_success'}}
          </p>
        {{/if}}

        {{default_errors form.errors}}

        <div class="grid">
          <div class="grid__item medium-up--one-half">
            <label for="ContactFormName" class="label--hidden">{{t 'contact.form.name'}}</label>
            <input type="text" id="ContactFormName" name="contact[name]" placeholder="{{t 'contact.form.name'}}" autocapitalize="words" value="{{#if get form name}}{{get form name}}{{else if customer}}{{ customer.name }}{{/if}}">
          </div>
          <div class="grid__item medium-up--one-half">
            <label for="ContactFormEmail" class="label--hidden">{{t 'contact.form.email'}}</label>
            <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="{{t 'contact.form.email'}}" autocorrect="off" autocapitalize="off" value="{{#if form.email}}{{ form.email }}{{else if customer}}{{ customer.email }}{{/if}}">
          </div>
        </div>

        <label for="ContactFormPhone" class="label--hidden">{{t 'contact.form.phone'}}</label>
        <input type="tel" id="ContactFormPhone" name="contact[phone]" placeholder="{{t 'contact.form.phone'}}" pattern="[0-9\-]*" value="{{#if get form phone}}{{get form phone}}{{else if customer}}{{ customer.phone }}{{/if}}">

        <label for="ContactFormMessage" class="label--hidden">{{t 'contact.form.message'}}</label>
        <textarea rows="6" id="ContactFormMessage" name="contact[body]" placeholder="{{t 'contact.form.message'}}">{{#if form.body}}{{ form.body }}{{/if}}</textarea>

        <input type="submit" class="btn" value="{{t 'contact.form.send'}}">
      {{/form}}
    </div>
  </div>
</div>
