{{#comment}}
  Important notes about pagination:
  - Never access collection.products before the opening paginate tag.
  - Never paginate by more than 50.
{{/comment}}
{{assign 'products_per_page' (times settings.products_per_row settings.number_of_rows)}}
{{assign 'numbers' (split 'zero, one, two, three, four, five, six' ',')}}
{{assign 'products_per_row' (times settings.products_per_row 1)}}
{{assign 'products_per_row' (append (strip (get numbers products_per_row)) '-per-row')}}
{{#paginate collection.products by=products_per_page}}
{{#comment}}
  Re-use the .rte class wherever you output content that was added by a merchant using
  the Rich Text Editor ( 'rte' stands for rich text editor ).
  Style all HTML elements in that content the same way across the board.
  Use the .rte class in your CSS to help maintain consistency.
  Example: the h2 element should have the same size and color in:
  - product descriptions
  - collection descriptions
  - page content
  - blog post
{{/comment}}
<h1 class="left">{{ collection.title }}</h1>
{{#comment}}
  Collection sorting. Needs the JavaScript that is at the bottom of this file.
{{/comment}}
{{#if (gt collection.products_count 1)}}
<select class="sort-by right">
  <option value="manual">Featured</option>
  <option value="price-ascending">Price: Low to High</option>
  <option value="price-descending">Price: High to Low</option>
  <option value="title-ascending">A-Z</option>
  <option value="title-descending">Z-A</option>
  <option value="created-ascending">Oldest to Newest</option>
  <option value="created-descending">Newest to Oldest</option>
  <option value="best-selling">Best Selling</option>
 </select>
{{/if}}
{{#comment}}
  Listing all tags within the current collection.
  Shopify uses product tags to manage subcategories inside collections.
  See 'How do I create subcategories of products?' at
  http://bit.ly/1j1Dti4 for details.
{{/comment}}
{{#if (gt collection.all_tags.size 0)}}
<ul class="subcategories clearfix clear">
  <li class="{{#unless current_tags}} active{{/unless}}">
    {{link_to_remove_tag 'All' current_tags.first}}
  </li>
  {{#each collection.all_tags as |tag|}}
  {{#if (contains current_tags tag)}}
  <li class="active">
    {{link_to_remove_tag tag tag}}
  </li>
  {{else}}
  <li>
    {{link_to_tag tag tag}}
  </li>
  {{/if}}
  {{/each}}
</ul>
{{/if}}
{{#if (gt collection.description.size 0)}}
<div class="rte clearfix">
  {{ collection.description }}
</div>
{{/if}}
<ul class="grid clearfix">
{{#each collection.products as |product|}}
  {{include 'product-grid-item' products_per_row}}
{{else}}
  <p>There are no products in this view.</p>
{{/each}}
</ul>
{{#if (gt paginate.pages 1)}}
<div class="pagination centered">
  {{default_pagination paginate}}
</div>
{{/if}}
{{/paginate}}
{{#comment}}
  JavaScript for collection sorting.
{{/comment}}
<script>
jQuery('.sort-by')
  .val('{{default collection.sort_by collection.default_sort_by}}')
  .on('change', function() {
    Shopify.queryParams.sort_by = jQuery(this).val();
    location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
  });
</script>