<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <title>
  {{{ page_title }}}{{#if current_tags}} &ndash; tagged "{{join current_tags ', '}}"{{/if}}{{#if (isnt current_page 1)}} &ndash; Page {{ current_page }}{{/if}}{{#unless (contains page_title shop.name)}} &ndash; {{ shop.name }}{{/unless}}
  </title>
  {{#if page_description}}
  <meta name="description" content="{{escape page_description}}" />
  {{/if}}
  <link rel="canonical" href="{{ canonical_url }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {{include 'open-graph-tags'}}
  {{include 'twitter-card'}}
  {{ content_for_header }}
  {{stylesheet_tag (asset_url 'style.scss.css')}}
  {{stylesheet_tag (global_asset_url 'social/social-icons.css')}}
  {{stylesheet_tag '//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'}}
  {{stylesheet_tag '//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,600italic,700italic'}}
  <!--[if lt IE 9]>
  {{script_tag '//html5shiv.googlecode.com/svn/trunk/html5.js'}}
  <![endif]-->
  {{script_tag (shopify_asset_url 'shopify_common.js')}}
  {{#if (contains template 'customers')}}
  {{script_tag (shopify_asset_url 'customer_area.js')}}
  {{/if}}
  <!-- Additional Shopify helpers that will likely be added to the global shopify_common.js some day soon. -->
  {{script_tag (asset_url 'shopify_common.js')}}
  {{script_tag (shopify_asset_url 'option_selection.js')}}
  {{script_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'}}
  <script>jQuery('html').removeClass('no-js').addClass('js');</script>
</head>
<body id="{{handle page_title}}" class="{{#if customer}}customer-logged-in {{/if}}template-{{handle (truncatewords (replace template '.' ' ') 1 '')}}" >
  <div class="container">
    <header class="row">
      <div class="social-links half column left-aligned">
      {{include 'social-links'}}
      </div>
      {{#comment}}
        Note on checkout link: it is a good idea to avoid linking to /checkout directly because shops that use
        Paypal Express Checkout and/or Google Checkout have special checkout buttons on the /cart page. Also,
        special instructions for the seller are entered on the /cart page. Finally, the universal tracking code
        of Google Analytics may not work if linking directly to the /checkout page.
      {{/comment}}
      <div class="half column right-aligned">
        <div class="cart-link">
          <a href="/cart"><img src="{{asset_url 'cart.svg'}}" /> {{ cart.item_count }} {{pluralize cart.item_count 'item' 'items'}} ({{money cart.total_price}})</a>
        </div>
        {{#if shop.customer_accounts_enabled}}
        <div class="customer-links">
          {{#if customer}}
            Logged in as <a href="/account">{{ customer.first_name }}</a> · {{customer_logout_link 'Log out'}}
          {{else}}
            {{customer_login_link 'Log in'}}
            {{#if shop.customer_accounts_optional}}
            or {{customer_register_link 'Create an account'}}
            {{/if}}
          {{/if}}
        </div>
        {{/if}}
      </div>
      {{#comment}}
        It would be nice if the logo was a shop setting, rather than a theme setting.
        But for now, it is a theme setting. The shop logo is uploaded on the theme settings page.
        Link to the theme settings page of currently published theme will always be:
        http://www.shopify.com/admin/themes/current/settings.
        To add theme settings to a theme, see this: http://docs.shopify.com/themes/theme-templates/settings
        Theme settings are added to http://www.shopify.com/admin/themes/current#config/settings.html
      {{/comment}}
      <div class="masthead full column clear centered" role="banner">
        {{#if settings.use_logo}}
        <a id="logo" href="/">
          {{img_tag (asset_url 'logo.png') shop.name}}
        </a>
        {{else}}
        <a id="site-title" href="/">
          {{ shop.name }}
        </a>
        {{/if}}
        {{#if (is template 'index')}}
        {{#comment}}
          Many SEO audit tools look for a h1 tag on the home page. Let's give 'em one.
          Other pages should use the resource name as h1 tag. For example, on the product
          page, the product title will use a h1 tag.
        {{/comment}}
        <h1 class="hidden">{{ shop.name }}</h1>
        {{/if}}
      </div>
      <div class="clear full column">
        {{#comment}}
          Main Navigation
        {{/comment}}
        {{include 'site-nav'}}
        {{#comment}}
          IE8 and IE9 don't support the HTML5 placeholder attribute, so it's a good idea to use JavaScript
          to show and hide the placeholder text.
          Have a look in assets/shop.js.liquid to see sample JavaScript for this.
        {{/comment}}
        <form action="/search" method="get" class="search-form right" role="search">
          <input name="q" type="search" id="search-field" placeholder="Search store..." value="{{escape search.terms}}" />
          <input type="submit" id="search-submit" value="Search" />
        </form>
      </div>
    </header>
    <div id="main" role="main">
      {{#comment}}}
        We have a template file to render.
        That's what content_for_layout is for.
      {{/comment}}
      {% body %}
    </div>
    <footer>
      {{#if (gt linklists.footer.links.size 0)}}
      <p role="navigation">
      {{#each linklists.footer.links as |link|}}
        <a href="{{ link.url }}" title="{{ link.title }}"{{#if link.active}} class="active"{{/if}}>{{ link.title }}</a>
      {{/each}}
      </p>
      {{/if}}
      {{#unless (is shop.enabled_payment_types empty)}}
    <div class="payment-types">
        {{#each shop.enabled_payment_types as |type|}}
        <img width="40" src="{{payment_type_img_url type}}" />
        {{/each}}
      </div>
      {{/unless}}
      <p role="contentinfo" class="small-print">Copyright &copy; {{date 'now' '%Y'}} {{ shop.name }}. {{ powered_by_link }}.</p>
    </footer>
    {{#comment}}Shopify does not support Internet Explorer 6 nor 7. It does encourage themes to support IE8 until the end of 2014.{{/comment}}
    <!--[if lt IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
  </div><!-- end of #container -->
  {{script_tag (asset_url 'shop.js')}}
</body>
</html>