<div class="password-page__main__inner" data-section-id="{{ section.id }}" data-section-type="password-content">
  {{#unless (is section.settings.title blank)}}
    <h2 class="password-opening-soon h1">
      {{escape section.settings.title}}
    </h2>
  {{/unless}}

  {{#comment}}
    Password message which you can edit on /admin/online_store/preferences
  {{/comment}}
  {{#unless (is shop.password_message blank)}}
    <section class="password-message">
      {{ shop.password_message }}
    </section>
  {{/unless}}

  {{#if section.settings.newsletter_enable}}
    <section class="password-signup">
      {{#form 'customer'}}
        {{#if form.posted_successfully}}
          <div class="form--success">
            {{t 'general.password_page.signup_form_success'}}
          </div>
        {{else}}
          <h3 class="section-heading">{{escape section.settings.newsletter_form_heading}}</h3>
          {{default_errors form.errors}}
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <div class="input-group">
            <label for="Email" class="label--hidden">{{t 'general.password_page.signup_form_email_label'}}</label>
            <input type="email" name="contact[email]" id="Email" placeholder="{{escape section.settings.newsletter_placeholder}}" class="input-group__field">
            <div class="input-group__btn">
              <button type="submit"class="btn">
                {{escape section.settings.newsletter_button_text}}
              </button>
            </div>
          </div>
        {{/if}}
      {{/form}}
    </section>
  {{/if}}

  {{#comment}}
    Share homepage URL
    Shared text is from the store meta description
  {{/comment}}
  {{#if section.settings.show_share_buttons}}
    <section class="password-social-sharing">
      <h3 class="section-heading">{{escape section.settings.social_message}}</h3>
      {{include 'social-sharing",' share_title: shop.name}}
    </section>
  {{/if}}

  <section class="password-login">
    <a href="#LoginModal" class="password-login-toggle" data-mfp-src="#LoginModal">
      {{include 'icon-lock'}}
      {{t 'general.password_page.password_link'}}
    </a>
  </section>
</div>

{{#schema}}
  {
    "name": "Content",
    "class": "password-page__main",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Opening Soon"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "Be the first to know when we launch",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Submit"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "Social sharing buttons heading",
        "default": "Spread the word"
      }
    ]
  }
{{/schema}}
