---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{date_to_string page.date}}</span>

  {{include "tweet-button.html"}}

  {% body %}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {{#each (limit site.related_posts 3) as |post postId}}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{date_to_string post.date}}</small>
          </a>
        </h3>
      </li>
    {{/each}}
  </ul>
</div>
