<div class="wrapper">
  <div class="custom-content">
  {% for block in section.blocks %}
    {% case block.settings.width %}
      {% when '25%' %}
        {%- assign block_width = 'small--one-whole one-quarter' -%}
      {% when '33%' %}
        {%- assign block_width = 'small--one-whole one-third' -%}
      {% when '50%' %}
        {%- assign block_width = 'small--one-whole one-half' -%}
      {% when '66%' %}
        {%- assign block_width = 'small--one-whole two-thirds' -%}
      {% when '75%' %}
        {%- assign block_width = 'small--one-whole three-quarters' -%}
      {% when '100%' %}
        {%- assign block_width = 'one-whole' -%}
    {% endcase %}
    <div class="custom__item {{ block_width }} {% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %}" {{ block.shopify_attributes }}>
      <div class="custom__item-inner custom__item-inner--{{ block.type }}">
        {% case block.type %}
          {% when 'html' %}
            {% if block.settings.code != blank %}
              <div class="rte" data-section-id="{{ section.id }}" data-section-type="featured-content-section">
                {{ block.settings.code }}
              </div>
            {% else %}
              <div class="rte text-center">
                {{ 'home_page.onboarding.no_content' | t }}
              </div>
            {% endif %}
        {% endcase %}
      </div>
    </div>
  {% endfor %}
  {% if section.blocks.size == 0 %}
    <div class="wrapper">
      <div class="grid">
        <div class="grid__item">
          <div class="rte text-center">
            {{ 'home_page.onboarding.no_content' | t }}
          </div>
        </div>
      </div>
   </div>
  {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Custom HTML",
    "max_blocks": 9,
    "blocks": [
      {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "html",
            "id": "code",
            "label": "HTML",
            "default": "<div style='text-align:center;'><h2>Use HTML to format your text so it can be easily read.</h2>This text can be used to share information about your brand with customers.</div>"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "100%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "top-middle",
            "options": [
              {
                "value": "top-middle",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom-middle",
                "label": "Bottom"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom HTML",
        "category": "Advanced layout",
        "blocks": [
          {
            "type": "html"
          }
        ]
      }
    ]
  }
{% endschema %}
