<div class="password-page__main__inner">

  {% comment %}
    Opening soon text
  {% endcomment %}
  {% unless section.settings.title == blank %}
    <h2 class="password-page__hero">{{ section.settings.title | escape }}</h2>
  {% endunless %}

  {% comment %}
    Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
  {% endcomment %}

  {% unless shop.password_message == blank %}
    <div class="password-page__message">
      {{ shop.password_message }}
    </div>
    <hr class="hr password-page__hr">
  {% endunless %}

  {% comment %}
    Signup form
  {% endcomment %}

  {% if section.settings.newsletter_enable %}
    <div class="password-page__signup-form">
      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
        {% else %}
          <p class="password-page__signup-form__heading h5">{{ section.settings.newsletter_form_heading | escape }}</p>
          <input type="hidden" name="contact[tags]" value="prospect, password page">
          <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
          <div class="input-group">
            <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
            <span class="input-group-btn">
              <input type="submit" class="btn password-page__signup-form__submit" value="{{ section.settings.newsletter_button_text | escape }}">
            </span>
          </div>
        {% endif %}
      {% endform %}
    </div>
  {% endif %}

  {% comment %}
    Share homepage URL
    Shared text is from the store meta description
  {% endcomment %}

  {% if section.settings.show_share_buttons %}
  <div class="password-page__social-sharing">
    <p class="password-page__signup-form__heading h5">{{ section.settings.social_message | escape }}</p>
    {% include 'social-sharing' %}
  </div>
  {% endif %}

</div>

{% schema %}
  {
    "name": "Content",
    "class": "password-page__main",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Opening Soon"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "Be the first to know when we launch.",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Submit"
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "Social sharing buttons heading",
        "default": "Spread the word"
      }
    ]
  }
{% endschema %}
