<hr>
<div id="collection-rows--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="collection-row-section">
{{assign 'featured_row' section.settings.home_featured_row}}
{{assign 'row_limit_setting' section.settings.grid}}
{{#is section.settings.grid 2}}
    {{assign 'grid_item_width' 'medium--one-half large--one-half'}}
    {{assign 'image_size' '540x'}}
    {{assign 'width' '540'}}
    {{assign 'height' '600'}}
  {{else is section.settings.grid 3}}
    {{assign 'grid_item_width' 'small--one-half medium--one-third large--one-third'}}
     {{assign 'image_size' '345x'}}
     {{assign 'width' '345'}}
    {{assign 'height' '550'}}
  {{else is section.settings.grid 4}}
    {{assign 'grid_item_width' 'small--one-half medium--one-quarter large--one-quarter'}}
    {{assign 'image_size' '250x'}}
    {{assign 'width' '250'}}
    {{assign 'height' '225'}}
  {{else is section.settings.grid 5}}
    {{assign 'grid_item_width' 'small--one-half medium--one-fifth large--one-fifth'}}
    {{assign 'image_size' '195x'}}
    {{assign 'width' '195'}}
    {{assign 'height' '175'}}
{{/is}}

{{assign 'product_limit' (times section.settings.grid section.settings.rows)}}
{{assign 'header_title' (get collections (toPath featured_row 'title'))}}
{{assign 'more_link' (get collections (toPath featured_row 'url'))}}

{{#if (and (isnt (get collections (toPath featured_row 'all_products_count')) 0) (isnt section.settings.home_featured_row blank))}}

  {{#if (isnt section.settings.title blank)}}
    <div class="section-header">
      <p class="h1{{#if more_link}} section-header--left{{/if}}">{{escape section.settings.title}}</p>
      {{#if more_link}}
        <div class="section-header--right">
          {{assign 'header_title' (downcase header_title)}}
          <a href="{{ more_link }}">{{t 'homepage.featured_collection_rows.more_in_collection' collection_title header_title}} &rsaquo;</a>
        </div>
      {{/if}}
    </div>
  {{/if}}

  <div class="grid-uniform row-negative-bottom">
    {{#each (get collections (toPath featured_row 'products')) as |product|}}
      {{assign 'current_collection' (get collections featured_row)}}
        {{include 'product-grid-item'}}
    {{/each}}
  </div>

{{else}}
  <div class="section-header">
    <p class="h1 section-header--left">{{escape section.settings.title}}</p>
    <div class="section-header--right">
      <a href="{{get collections (toPath featured_row "url")}}">{{t 'homepage.featured_collection_rows.more'}} &rsaquo;</a>
    </div>
  </div>

  <div class="grid text-center row-negative-bottom">
    <div class="grid-item">
      <div class="grid-uniform">
        {{#each (range 1 product_limit) as |i|}}
          <div class="grid-item {{ grid_item_width }} text-center">
            {{#capture 'current'}}{{cycle 1 2 3 4}}{{/capture}}
              {{placeholder_svg_tag (append 'product-' current) 'placeholder-svg'}}
            <p><a href="/admin/products">{{t 'homepage.onboarding.product_title'}}</a> $19.99</p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
{{/if}}
</div>
{{#schema}}
  {
    "name": "Featured collection",
    "class": "clearfix",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "collection",
        "id": "home_featured_row",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Products per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "type": "range",
        "id": "rows",
        "label": "Rows",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 1
      },
      {
        "type": "checkbox",
        "id": "product_show_saved_amount",
        "label": "Show saved amount",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "product_show_compare_at_price",
        "label": "Show compare at price",
        "default": false
      }
    ],
    "presets":
    [
      {
        "name": "Featured collection",
        "category": "Collections"
      }
    ]
  }
{{/schema}}
