{{include 'breadcrumb'}}

{{#if (is section.settings.layout 'grid')}}
  {{#is section.settings.grid '2'}}
      {{assign 'featured_collection_width' 'one-half'}}
      {{assign 'featured_collection_size' '485x'}}
      {{assign 'width' '480'}}
      {{assign 'height' '480'}}
    {{else is section.settings.grid '3'}}
      {{assign 'featured_collection_width' 'small--one-half one-third'}}
      {{assign 'featured_collection_size' '315x'}}
      {{assign 'width' '310'}}
      {{assign 'height' '310'}}
    {{else is section.settings.grid '4'}}
      {{assign 'featured_collection_width' 'small--one-half one-quarter'}}
      {{assign 'featured_collection_size' '225x'}}
      {{assign 'width' '225'}}
      {{assign 'height' '225'}}
    {{else is section.settings.grid '5'}}
      {{assign 'featured_collection_width' 'small--one-half medium--one-third large--one-fifth'}}
      {{assign 'featured_collection_size' '175x'}}
      {{assign 'width' '175'}}
      {{assign 'height' '175'}}
  {{/is}}
{{/if}}

{{#if (is section.settings.display_type 'all')}}
  {{#is section.settings.sort 'products_high" or "products_low'}}
      {{assign 'list_collections' (sort collections 'all_products_count')}}
    {{else is section.settings.sort 'date" or "date_reversed'}}
      {{assign 'list_collections' (sort collections 'published_at')}}
    {{else}}
      {{assign 'list_collections' collections}}
  {{/is}}
  {{#if (or (is section.settings.sort 'products_low') (is section.settings.sort 'date') (is section.settings.sort 'alphabetical'))}}
    <div class="{{#if (is section.settings.layout 'grid')}}grid text-center {{/if}}list-collections-template" data-section-id="{{ section.id }}" data-section-type="list-collections-template">
      {{#each list_collections as |collection|}}
        {{#unless (is collection.handle 'frontpage')}}
          {{#if (is section.settings.layout 'list')}}
            {{include 'collection-list-item'}}
            {{#unless forloop.last}}<hr>{{/unless}}
          {{else}}
            {{assign 'featured' collection.handle}}
            {{include 'featured-collection'}}
          {{/if}}
        {{/unless}}
      {{/each}}
    </div>
  {{else}}
    <div class="{{#if (is section.settings.layout 'grid')}}grid text-center {{/if}}collection-grid" data-section-id="{{ section.id }}" data-section-type="list-collections-template">
      {{#each (reversed list_collections) as |collection|}}
        {{#unless (is collection.handle 'frontpage')}}
          {{#if (is section.settings.layout 'list')}}
            {{include 'collection-list-item'}}
            {{#unless forloop.last}}<hr>{{/unless}}
          {{else}}
            {{assign 'featured' collection.handle}}
            {{include 'featured-collection'}}
          {{/if}}
        {{/unless}}
      {{/each}}
    </div>
  {{/if}}
{{else}}
  <div class="{{#if (is section.settings.layout 'grid')}}grid text-center {{/if}}list-collections-template" data-section-id="{{ section.id }}" data-section-type="list-collections-template">
    {{#each section.blocks as |block|}}
      {{#if (is section.settings.layout 'list')}}
        {{assign 'collection' (get collections block.settings.collection)}}
        {{include 'collection-list-item'}}
        {{#unless forloop.last}}<hr>{{/unless}}
      {{else}}
        {{assign 'featured' block.settings.collection}}
        {{include 'featured-collection'}}
      {{/if}}
    {{/each}}
  </div>
{{/if}}

{{#schema}}
  {
    "name": "Collections list page",
    "settings": [
      {
        "type": "paragraph",
        "content": "All of your collections are listed by default. To customize your list, choose 'Selected' and add collections."
      },
      {
        "type": "radio",
        "id": "display_type",
        "label": "Select collections to show",
        "default": "all",
        "options": [
          {
            "value": "all",
            "label": "All"
          },
          {
            "value": "selected",
            "label": "Selected"
          }
        ]
      },
      {
        "type": "select",
        "id": "layout",
        "label": "Select layout",
        "default": "grid",
        "options": [
          {
            "value": "grid",
            "label": "Grid"
          },
          {
            "value": "list",
            "label": "List"
          }
        ]
      },
      {
        "type": "select",
        "id": "sort",
        "label": "Sort collections by:",
        "info": "Sorting only applies when 'All' is selected",
        "default": "alphabetical",
        "options": [
          {
            "value": "products_high",
            "label": "Product count, high to low"
          },
          {
            "value": "products_low",
            "label": "Product count, low to high"
          },
          {
            "value": "alphabetical",
            "label": "Alphabetically, A-Z"
          },
          {
            "value": "alphabetical_reversed",
            "label": "Alphabetically, Z-A"
          },
          {
            "value": "date",
            "label": "Date, old to new"
          },
          {
            "value": "date_reversed",
            "label": "Date, new to old"
          }
        ]
      },
      {
        "type": "select",
        "id": "grid",
        "label": "Collections per row",
        "default": "3",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ]
  }
{{/schema}}
