<div class="page-width">
  {% if section.settings.image != blank %}
    {% assign img_url = section.settings.image | img_url: '1024x' | format: 'jpg' %}
  {% endif %}

  <div class="section-block">
    {% if section.settings.image == blank %}
      <div class="placeholder-background">
        {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </div>
    {% endif %}
    <noscript>
      <div class="featured-content" {% if section.settings.image != blank %}style="background-image: url({{ img_url }}); background-position: {{ section.settings.image_align }}"{% endif %}>
        <div class="emphasized-title-wrapper">
          {% if section.settings.link != blank %}
            <a href="{{ section.settings.link }}" class="emphasized-title emphasized-title--link emphasized-title--large h1">
              {{ section.settings.title | escape }}
            </a>
          {% else %}
            <h4 class="emphasized-title emphasized-title--large h1">
              {{ section.settings.title | escape }}
            </h4>
          {% endif %}
        </div>
        {% if section.settings.link != blank %}
          <a href="{{ section.settings.link }}" class="emphasized-subtitle">
            {{ section.settings.subtext | escape }}
          </a>
        {% else %}
          <span class="emphasized-subtitle">
            {{ section.settings.subtext | escape }}
          </span>
        {% endif %}
      </div>
    </noscript>
    <div class="featured-content lazyload"
      {% if section.settings.image != blank %}
        style="background-position: {{ section.settings.image_align }};
               background-image: url('{{ section.settings.image | img_url: '300x300' }});"
      {% endif %}
      data-bgset="{% include 'bgset', image: section.settings.image %}"
      data-sizes="auto"
      data-parent-fit="cover">
      <div class="emphasized-title-wrapper">
        {% if section.settings.link != blank %}
          <a href="{{ section.settings.link }}" class="emphasized-title emphasized-title--link emphasized-title--large h1">
            {{ section.settings.title | escape }}
          </a>
        {% else %}
          <h4 class="emphasized-title emphasized-title--large h1">
            {{ section.settings.title | escape }}
          </h4>
        {% endif %}
      </div>
      {% if section.settings.link != blank %}
        <a href="{{ section.settings.link }}" class="emphasized-subtitle">
          {{ section.settings.subtext | escape }}
        </a>
      {% else %}
        <span class="emphasized-subtitle">
          {{ section.settings.subtext | escape }}
        </span>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image with text link",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text link"
      },
      {
        "type": "text",
        "id": "subtext",
        "label": "Subheading",
        "default": "Shop now"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Link",
        "info": "Optional"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Background image"
      },
      {
        "type": "radio",
        "id": "image_align",
        "label": "Image alignment",
        "options": [
          { "value": "top center", "label": "Top center" },
          { "value": "center center", "label": "Center" },
          { "value": "bottom center", "label": "Bottom center" }
        ],
        "default": "top center"
      }
    ],
    "presets": [
      {
        "name": "Image with text link",
        "category": "Image"
      }
    ]
  }
{% endschema %}
