<div class="password-logo">
    <h1 class="h2" itemscope itemtype="http://schema.org/Organization">
      {% if section.settings.logo != blank %}
            {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
            <a href="/" itemprop="url" class="site-header__logo-link">
              <img src="{{ section.settings.logo | img_url: image_size }}"
                   srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                   alt="{{ section.settings.logo.alt | default: shop.name }}"
                   itemprop="logo">
            </a>
        {% else %}
            {{ shop.name }}
        {% endif %}
    </h1>
    <h2 class="password-page__title h1">{{ section.settings.header | escape }}</h2>
 </div>



{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "text",
      "id": "logo_max_width",
      "label": "Custom logo width (in pixels)",
      "default": "100"
    },
    {
      "type": "text",
      "id": "header",
      "label": "Heading",
      "default": "Coming Soon"
    }
  ]
}{% endschema %}
