{% comment %}
Password message which you can edit on /admin/online_store/preferences
{% endcomment %}
{% unless shop.password_message == blank %}
	<p class="password-page__message">
		{{ shop.password_message }}
	</p>
{% endunless %}

{% comment %}
Signup form
{% endcomment %}
{% if section.settings.newsletter_enable %}
  <div class="password-signup-form">
	{% form 'customer' %}
	  {{ form.errors | default_errors }}
	    {% if form.posted_successfully? %}
			<ul class="form-success">
				<li>{{ 'general.password_page.signup_form_success' | t }}</li>
			</ul>
		{% else %}
			<p class="h6">{{ section.settings.newsletter_form_heading | escape }}</p>
			<input type="hidden" name="contact[tags]" value="prospect, password page">
			<label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
			<div class="input-group">
				<input type="email" name="contact[email]" id="Email" class="input-group__field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
				<span class="input-group__btn">
					<button type="submit" name="commit" class="btn btn--narrow">
						{% include 'icon-arrow-right' %}
						<span class="icon__fallback-text">{{ 'general.newsletter_form.submit' | t }}</span>
					</button>
				</span>
			</div>
		{% endif %}
	  {% endform %}
	{% endif %}
</div>

{% schema %}
{
  "name": "Content",
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": "Show newsletter signup",
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": "Newsletter form heading",
      "default": "Be the first to know when we launch.",
      "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": "Newsletter placeholder text",
      "default": "Email address"
    }
  ]
}
{% endschema %}
