<div class="page-width">
  <div class="section-block section-block--padding">
    {% if section.settings.title_enable %}
      <div class="section-block__header text-center">
        <h4 class="h1--mini section-block__title">{{ section.settings.title | escape }}</h4>
      </div>
    {% endif %}

    {% if section.blocks.size > 0 %}
      <div class="quotes-wrapper">
        <div class="quotes-slider" id="Quotes-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="quotes">
          {% for block in section.blocks %}
            <div class="quote__slide-wrapper quote__slide-wrapper--{{ block.id }}" {{ block.shopify_attributes }}>
              <div class="quote__slide text-center">
                <div class="page-width">
                  <blockquote>
                    <span class="quote-icon">{% include 'icon-quote' %}</span>
                    <div class="rte-setting">{{ block.settings.quote }}</div>
                    <cite>{{ block.settings.author | escape }}</cite>
                  </blockquote>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {% if section.blocks.size == 0 %}
      {% include 'no-blocks' %}
    {% endif %}
  </div>
</div>

{% schema %}
  {
    "name": "Testimonials",
    "class": "index-section",
    "max_blocks": 5,
    "settings": [
      {
        "type": "checkbox",
        "id": "title_enable",
        "label": "Show header",
        "default": true
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Testimonials"
      }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Quote",
        "settings": [
          {
            "type": "richtext",
            "id": "quote",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Text",
        "blocks": [
          {
            "type": "quote"
          },
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}
