<div class="form-horizontal">
  <label for="SortBy">{{t 'collections.sorting.title'}}</label>
  <select name="SortBy" id="SortBy" class="btn--tertiary">
    <option value="manual">{{t 'collections.sorting.featured'}}</option>
    <option value="best-selling">{{t 'collections.sorting.best_selling'}}</option>
    <option value="title-ascending">{{t 'collections.sorting.az'}}</option>
    <option value="title-descending">{{t 'collections.sorting.za'}}</option>
    <option value="price-ascending">{{t 'collections.sorting.price_ascending'}}</option>
    <option value="price-descending">{{t 'collections.sorting.price_descending'}}</option>
    <option value="created-descending">{{t 'collections.sorting.date_descending'}}</option>
    <option value="created-ascending">{{t 'collections.sorting.date_ascending'}}</option>
  </select>
</div>
