<div data-section-id="{{ section.id }}" data-section-type="featured-content-section">
  {% if section.settings.title != blank %}
    <h2 class="small--text-center">{{ section.settings.title | escape }}</h2>
  {% endif %}
  {% for block in section.blocks %}
    <div class="rte" {{ block.shopify_attributes }}>
      {% case block.type %}
        {% when 'page' %}
          {% if block.settings.title != blank %}
            <h2 class="small--text-center">{{ block.settings.title | escape }}</h2>
          {% endif %}
          {% if block.settings.home_page_content != blank %}
            {{ pages[block.settings.home_page_content].content }}
          {% else %}
            <p>{{ 'homepage.onboarding.no_content' | t }}</p>
          {% endif %}
        {% when 'text' %}
          {% if block.settings.home_page_richtext != blank %}
            {{ block.settings.home_page_richtext }}
          {% else %}
            <p>{{ 'homepage.onboarding.no_content' | t }}</p>
          {% endif %}
        {% else %}
      {% endcase %}
    </div>
  {% endfor %}
  {% if section.blocks.size == 0 %}
    <div class="rte">
      {{ 'homepage.onboarding.no_content' | t }}
    </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Rich text",
    "max_blocks": 9,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Talk about your brand"
      }
    ],
    "presets": [{
      "name": "Rich text",
      "category": "Text",
      "blocks": [
        {
          "type": "text"
        }
      ]
    }],
    "blocks" : [
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "id": "home_page_richtext",
            "type": "richtext",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          }
        ]
      },
      {
        "type": "page",
        "name": "Page",
        "settings": [
          {
            "id": "home_page_content",
            "type": "page",
            "label": "Choose page"
          }
        ]
      }
    ]
  }
{% endschema %}
