<style>
  .password-page__header .logo {
    width: {{ section.settings.logo_max_width | escape }}px;
  }
</style>

<header class="password-page__header" role="banner">
  <h1 class="password-page__header__inner" itemscope itemtype="http://schema.org/Organization">
    {% assign logo_width = section.settings.logo_max_width | escape | times: 1 %}
    {% if section.settings.logo != blank and logo_width <= 2048 %}
      {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
      <img class="logo" src="{{ section.settings.logo | img_url: image_size }}" alt="{{ shop.name }}" itemprop="logo">
    {% else %}
      <span class="h2">{{ shop.name }}</span>
    {% endif %}
  </h1>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "password-header-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels, max 2048)",
        "default": "200"
      }
    ]
  }
{% endschema %}
