---
layout: 'gift_card'---

{{assign 'formatted_initial_value' (money_without_trailing_zeros gift_card.initial_value gift_card.currency)}}
{{assign 'formatted_initial_value_stripped' (strip_html formatted_initial_value)}}

<header class="giftcard__header text-center" role="banner">
  <div class="site-header__logo h1 text-center" itemscope itemtype="http://schema.org/Organization">
    <a href="{{ shop.url }}" class="site-header__link site-header__logo-link" itemprop="url">{{ shop.name }}</a>
  </div>

  <h1>{{t 'gift_cards.issued.subtext'}}</h1>
  {{#unless gift_card.enabled}}
    <p class="giftcard__tag">{{t 'gift_cards.issued.disabled'}}</p>
  {{/unless}}
  {{assign 'gift_card_expiry_date' (date gift_card.expires_on '%d/%m/%y')}}
  {{#if (and gift_card.expired gift_card.enabled)}}
    <p class="giftcard__tag">{{t 'gift_cards.issued.expired' expiry gift_card_expiry_date}}</p>
  {{/if}}
  {{#if (and (isnt gift_card.expired true) gift_card.expires_on gift_card.enabled)}}
    <p class="giftcard__tag giftcard__tag--active">{{t 'gift_cards.issued.active' expiry gift_card_expiry_date}}</p>
  {{/if}}
</header>

<div class="giftcard-wrapper">
  <main class="giftcard" role="main">
    <div class="giftcard__wrap">
      <img src="{{shopify_asset_url 'gift-card/card.jpg'}}" alt="">

      {{assign 'initial_value_size' (size formatted_initial_value)}}
      <div class="h1 giftcard__amount{{#if (gt initial_value_size 6)}} giftcard__amount--medium{{/if}}">
        {{#if (isnt gift_card.balance gift_card.initial_value)}}
          <span class="giftcard__tooltip">
            <span class="giftcard__tooltip-label">{{money (t 'gift_cards.issued.remaining_html' balance gift_card.balance)}}</span>
          </span>
        {{/if}}
        <strong>{{ formatted_initial_value }}</strong>
      </div>

      {{assign 'code_size' (size (format_code gift_card.code))}}
      <div class="giftcard__code{{#if (lte code_size 25)}} giftcard__code--large{{else if (and (gt code_size 25) (lte code_size 30))}} giftcard__code--medium{{else}} giftcard__code--small{{/if}}" onclick="selectText('GiftCardDigits');">
        <div class="giftcard__code__inner">
          <strong class="giftcard__code__text {{#if (or gift_card.expired (isnt gift_card.enabled true))}} disabled{{/if}}" id="GiftCardDigits">{{format_code gift_card.code}}</strong>
        </div>
      </div>
    </div>

    <p class="text-center">
      {{t 'gift_cards.issued.redeem_html' value formatted_initial_value_stripped}}
    </p>

    <div id="QrCode" class="giftcard__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>

    <div class="text-center">
      <p>
        <a href="{{ shop.url }}" class="btn" target="_blank">
          {{t 'gift_cards.issued.shop_link'}}
          {{include 'icon-arrow-right'}}
        </a>
      </p>
      <p>
        <button type="button" class="btn btn--secondary print-link" onclick="window.print();">
          {{t 'gift_cards.issued.print'}}
        </button>
      </p>
      {{#if gift_card.pass_url}}
        <p>
          <a class="giftcard__apple-wallet" href="{{ gift_card.pass_url }}">
            <img class="giftcard__apple-wallet-image" src="{{shopify_asset_url 'gift-card/add-to-apple-wallet.svg'}}" width="120" height="40" alt="{{t 'gift_cards.issued.add_to_apple_wallet'}}">
          </a>
        </p>
      {{/if}}
    </div>
  </main>
</div>
