{{#comment}}

  This snippet generates the structure of a comment.
  It is used to show not only recent comments, but also comments that were
  just published but not yet approved.

  More information:
   - http://docs.shopify.com/themes/liquid-variables/comment

{{/comment}}

<div class="comment">
  <div class="rte">
    {{ comment.content }}
  </div>
  <div class="blog-meta">
    <p class="text-center meta">

      {{assign 'month' (date comment.created_at '%b')}}
      {{assign 'day' (date comment.created_at '%d')}}
      {{assign 'year' (date comment.created_at '%Y')}}
      {{assign 'iso' (date comment.created_at '%F')}}
      <time datetime="{{ iso }}">{{ month }} {{ day }}, {{ year }}</time>
      <span class="meta__dot" aria-hidden="true"></span>
      <span>{{ comment.author }}</span>
    </p>
  </div>
</div>
