<!-- /templates/page.contact.liquid -->
<div class="grid">

  <div class="grid__item large--five-sixths push--large--one-twelfth">

    <header class="section-header text-center">
      <h1>{{{ page.title }}}</h1>
      <hr class="hr--small">
    </header>

    <div class="grid">
      <div class="grid__item large--four-fifths push--large--one-tenth">
        <div class="rte rte--nomargin rte--indented-images">
          {{{ page.content }}}
        </div>

        <div class="form-vertical">
          {{#form 'contact'}}

            {{#comment}}
              Successful message
            {{/comment}}
            {{#if form.posted_successfully}}
              <p class="note form-success">
                {{t 'contact.form.post_success'}}
              </p>
            {{/if}}

            {{default_errors form.errors}}

            <div class="grid grid--small">
              <div class="grid__item large--one-half">
                <label for="ContactFormName" class="hidden-label">{{t 'contact.form.name'}}</label>
                <input type="text" id="ContactFormName" class="input-full" name="contact[name]" placeholder="{{t 'contact.form.name'}}" autocapitalize="words" value="{{#if form.name}}{{ form.name }}{{else if customer}}{{ customer.name }}{{/if}}">
              </div>

              <div class="grid__item large--one-half">
                <label for="ContactFormEmail" class="hidden-label">{{t 'contact.form.email'}}</label>
                <input type="email" id="ContactFormEmail" class="input-full" name="contact[email]" placeholder="{{t 'contact.form.email'}}" autocorrect="off" autocapitalize="off" value="{{#if form.email}}{{ form.email }}{{else if customer}}{{ customer.email }}{{/if}}">
              </div>
            </div>

            <label for="ContactFormPhone" class="hidden-label">{{t 'contact.form.phone'}}</label>
            <input type="tel" id="ContactFormPhone" class="input-full" name="contact[phone]" placeholder="{{t 'contact.form.phone'}}" pattern="[0-9\-]*" value="{{#if form.phone}}{{ form.phone }}{{else if customer}}{{ customer.phone }}{{/if}}">

            <label for="ContactFormMessage" class="hidden-label">{{t 'contact.form.message'}}</label>
            <textarea rows="10" id="ContactFormMessage" class="input-full" name="contact[body]" placeholder="{{t 'contact.form.message'}}">{{#if form.body}}{{ form.body }}{{/if}}</textarea>

            <input type="submit" class="btn right" value="{{t 'contact.form.send'}}">

          {{/form}}
        </div>
      </div>
    </div>

  </div>

</div>
