{% if section.settings.show_announcement %}
  {% if section.settings.home_page_only == false or template.name == 'index' %}
    <style>
      .announcement-bar {
        background-color: {{ section.settings.color_bg }};
      }

      .announcement-bar--link:hover {
        {% assign brightness = section.settings.color_bg | color_brightness %}

        {% if brightness <= 192 %}
          {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
          background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
        {% else %}
          {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
          background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
        {% endif %}
      }

      .announcement-bar__message {
        color: {{ section.settings.color_text }};
      }
    </style>

    {% if section.settings.link == blank %}
      <div class="announcement-bar">
    {% else %}
      <a href="{{ section.settings.link }}" class="announcement-bar announcement-bar--link">
    {% endif %}

      <p class="announcement-bar__message">{{ section.settings.text | escape }}</p>

    {% if section.settings.link == blank %}
      </div>
    {% else %}
      </a>
    {% endif %}

  {% endif %}
{% endif %}

{% schema %}
  {
    "name": "Announcement bar",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "link",
        "label": "Announcement link"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar color",
        "default": "#dbc18b"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text color",
        "default": "#fff"
      }
    ]
  }
{% endschema %}
