<h1>Shopping Cart</h1>
  
{{#if (gt cart.item_count 0)}}

<form action="/cart" method="post">
  
  <table>
    
    <thead>
      <tr>
        <th>Item</th>
        <th>&nbsp;</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    
    <tbody>

    {{#each cart.items as |item|}}    
    
      {{#comment}}
      Determining the handle of the collection that was last seen for the 'continue shopping' link.
      {{/comment}}
      
      {{assign 'collection_url' item.product.collections.last.url}}
      {{#if (or (is collection_url '/collections/frontpage') (is collection_url blank))}}
        {{assign 'collection_url' '/collections/all'}}
      {{/if}}
      
      {{#if forloop.first}}
        {{assign 'continue_shopping_url' collection_url}}
      {{/if}}

      <tr>
        <td>
          <a href="{{ collection_url }}{{ item.url }}">
            <img src="{{img_url item 'compact'}}"  alt="{{escape item.title}}" />
          </a>
        </td>
        <td>
          <h2>
            <a href="{{ collection_url }}{{ item.url }}">
              {{ item.title }}
            </a>
          </h2>
          {{#comment}}
          Line Item Properties
          {{/comment}}
          {{assign 'properties_amount' (size item.properties)}}
          {{#if (gt properties_amount 0)}}
            {{#each item.properties as |p|}}
              {{#unless (is p.last blank)}}
                {{ p.first }}:
                {{#if (contains p.last '/uploads/')}}
                  <a href="{{ p.last }}">{{last (split p.last '/')}}</a>
                {{else}}
                  {{ p.last }}
                {{/if}}
              {{/unless}}
            {{/each}}
          {{/if}}
          <h3>{{ item.vendor }}</h3>
        </td>
        <td>{{money item.price}}</td>
        <td>
          <input type="number" name="updates[]" id="updates_{{ item.id }}" class="quantity" value="{{ item.quantity }}" />
        </td>
        <td>{{money item.line_price}}</td>
        <td>
          <a href="/cart/change?line={{ forloop.index }}&quantity=0">Remove</a>
        </td>
      </tr>
    {{/each}}
    
    </tbody>
    
  </table>
  
  {{#comment}}
  For the checkout and update buttons to work, they need to use
  a name attribute set to 'checkout' and 'update', respectively. That's case-sensitive.
  {{/comment}}
  
  <h3>Subtotal <em>{{money cart.total_price}}</em></h3>
  <a href="{{ continue_shopping_url }}">Continue shopping</a>
  <input type="submit" name="update" value="Update cart" />
  <input type="submit" name="checkout" value="Check out" />    
  {{#comment}}Paypal and Google checkout buttons{{/comment}}
  {{#if additional_checkout_buttons}}
    {{ content_for_additional_checkout_buttons }}
  {{/if}}
  
  {{#comment}}
  For the special instructions to be submitted with order,
  we need to use a name attribute set to 'note'.
  {{/comment}}
  <p>Special instructions for seller</p>
  <textarea name="note">{{ cart.note }}</textarea>

</form>

{{else}}

  <h2>It appears that your cart is currently empty!</h2>
  <h3>You can continue browsing <a href="/collections/all">here</a>.</h3>

{{/if}}