<!-- snippets/featured-blog.liquid -->
{{#if (or section.settings.blog_show_author section.settings.blog_show_date)}}
  <div class="featured-blog__meta">
    {{#if section.settings.blog_show_author}}
      <span class="featured-blog__author">
        {{ article.author }}
      </span>
    {{/if}}
    {{#if section.settings.blog_show_date}}
      <div class="featured-blog__date">
        <time datetime="{{date article.published_at '%Y-%m-%d'}}" class="date">{{date article.published_at format 'month_day_year'}}</time>
      </div>
    {{/if}}
    <hr class="hr--small {{#if (and (is section.settings.post_limit 1) (is section.settings.blog_show_image false))}}hr--middle{{else}}hr--left{{/if}}">
  </div>
{{/if}}
<h2 class="h3{{#if (and (is section.settings.post_limit 1) (is section.settings.blog_show_image false))}} title--one-post{{/if}}"><a href="{{ article.url }}">{{ article.title }}</a></h2>
{{#if section.settings.blog_show_excerpt}}
  <div class="rte rte--indented-images">
    {{truncatewords (strip_html article.excerpt_or_content) 30}}
  </div>
{{/if}}
<p>
  <a href="{{ article.url }}" class="text-link">{{t 'blogs.article.read_more'}} <span class="icon icon-arrow-right" aria-hidden="true"></span></a>
</p>