{{#if (is collection empty)}}
  {{#comment}}add default state for collection block in storefront editor{{/comment}}
  {{#capture 'collection_title'}}{{t 'homepage.onboarding.collection_title'}}{{/capture}}
{{else}}
  {{#capture 'collection_title'}}{{escape collection.title}}{{/capture}}
{{/if}}

{{#if collection.image}}
  {{assign 'no_collection_image' false}}
  {{assign 'collection_image' collection.image}}
{{else if (and collection.products.first (isnt collection.products.first.images empty))}}
  {{assign 'collection_image' collection.products.first.featured_image}}
{{else}}
  {{assign 'collection_image' blank}}
{{/if}}

<div class="grid__item {{ grid_item_width }} collection-grid__item text-center">
  <a href="{{ collection.url }}" class="collection-grid__link">
    <noscript>
      <div class="collection-grid__link-overlay grid__image" style="background-image: url({{img_url collection_image '1024x'}})">
        <div class="collection-grid__title-wrapper">
          <h3 class="collection-grid__title">
            {{ collection_title }}
          </h3>
        </div>
      </div>
    </noscript>
    {{#unless (is collection_image blank)}}
    <div class="collection-grid__link-overlay grid__image lazyload"
      style="background-image: url({{img_url collection_image '300x300'}})"
      data-bgset="{{include 'bgset",' image: collection_image}}"
      data-sizes="auto"
      data-parent-fit="cover">
      <div class="collection-grid__title-wrapper">
        <h3 class="collection-grid__title">
          {{ collection_title }}
        </h3>
      </div>
    </div>
    {{else}}
      <div class="collection-grid__link-overlay grid__image" style="background-image: url({{img_url collection_image '1024x'}})">
        <div class="collection-grid__title-wrapper">
          <h3 class="collection-grid__title">
            {{ collection_title }}
          </h3>
        </div>
      </div>
    {{/unless}}
  </a>
</div>
