<div class="helper {{#if (or (is section.settings.post_limit 1) (is blog.articles_count 1))}}page-width{{else}}grid grid--uniform{{/if}}">
  {{#each (range 1 section.settings.post_limit) as |i|}}
    <div class="{{#unless (or (is section.settings.post_limit 1) (is blog.articles_count 1))}}grid__item {{/unless}}{{ width }}">
      <div class="featured-blog__post{{#if (and (is section.settings.post_limit 1) (is section.settings.blog_show_image false))}} text-center{{/if}}">
        {{#if section.settings.blog_show_image}}
          <div class="article__featured-link" href="{{ article.url }}">
            {{#capture 'current'}}{{cycle 1 2 3 4 5 6}}{{/capture}}
            {{placeholder_svg_tag (append 'collection-' current) 'placeholder-svg'}}
          </div>
        {{/if}}
        <div class="featured-blog__post-inner">
          <h2 class="h3 featured-blog__title{{#if (and (is section.settings.post_limit 1) (is section.settings.blog_show_image false))}} title--one-post{{/if}}"><a href="#">{{t 'homepage.onboarding.blog_title'}} &rarr;</a></h2>
          {{#if section.settings.blog_show_excerpt}}
            <div class="rte rte--indented-images{{#unless section.settings.blog_show_date}} featured-blog__rte{{/unless}}">
              {{t 'homepage.onboarding.blog_excerpt'}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  {{/each}}
</div>