<div class="password-page__main__inner">

  {% comment %}
    Opening soon text
  {% endcomment %}
  {% if section.settings.header != blank %}
  <h2 class="password-page__hero">{{ section.settings.header | escape }}</h2>
  {% endif %}

  {% comment %}
    Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
  {% endcomment %}

  {% unless shop.password_message == blank %}
    <div class="password-page__message">
      {{ shop.password_message }}
    </div>
    <hr class="hr--small hr--clear">
  {% endunless %}

  {% comment %}
    Signup form
  {% endcomment %}

  {% if section.settings.newsletter_enable %}
  <div class="password-page__signup-form">
    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <p class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
      {% else %}
        <p class="h5">{{ section.settings.newsletter_form_heading | escape }}</p>
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <label for="email" class="hidden-label">{{ 'general.password_page.signup_form_email_label' | t }}</label>
        <div class="input-group">
          <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="{{ section.settings.newsletter_placeholder | escape }}" autofocus>
          <span class="input-group-btn">
            <input type="submit" class="btn-secondary btn--small" value="{{ section.settings.newsletter_button_text | escape }}">
          </span>
        </div>
      {% endif %}
    {% endform %}
  </div>
  {% endif %}

  {% comment %}
    Share homepage URL
    Shared text is from the store meta description
  {% endcomment %}

  {% if section.settings.show_share_buttons %}
  <div class="password-page__social-sharing">
    <p class="h5">{{ 'general.password_page.spread_the_word' | t }}</p>
    {% include 'social-sharing' %}
  </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Content",
    "class": "password-page__main",
    "settings": [
      {
        "type": "text",
        "id": "header",
        "label": "Heading",
        "default": "Coming Soon"
      },
      {
        "type": "header",
        "content": "Newsletter"
      },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "Find out when we open",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Your email"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Submit"
      },
      {
        "type": "header",
        "content": "Social sharing"
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
