<hr>
<div class="flexslider" id="heroSlider--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="slideshow-section" data-slider-home-auto="{{ section.settings.slider_home_auto }}" data-slider-home-rate="{{ section.settings.slider_home_rate }}">
  <ul class="slides">
    {% for block in section.blocks %}
      <li id="slide--{{ block.id }}" data-flexslider-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
        {% if block.settings.slide != blank %}
          {% if block.settings.link %}
            <a href="{{ block.settings.link }}" class="slide-link">
          {% endif %}

            {%- assign img_url = block.settings.slide | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <div class="lazyload__image-wrapper no-js" style="padding-top:{{ 1 | divided_by: block.settings.slide.aspect_ratio | times: 100}}%;">
              <img id="{{ img_id }}"
                class="lazyload js {% if forloop.index > 1%}lazypreload{% endif %}"
                src="{{ block.settings.slide | img_url: '300x' }}"
                data-src="{{ img_url }}"
                data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                data-aspectratio="{{ block.settings.slide.aspect_ratio }}"
                data-sizes="auto"
                alt="{{ block.settings.slide.alt | escape }}">
            </div>

            <noscript>
              <img src="{{ block.settings.slide | img_url: '580x' }}"
                srcset="{{ block.settings.slide | img_url: '580x' }} 1x, {{ block.settings.slide | img_url: '580x', scale: 2 }} 2x"
                alt="{{ block.settings.slide.alt }}" style="opacity:1;">
            </noscript>
            {% comment %}<img src="{{ block.settings.slide | img_url: '1024x' }}"
            srcset="{{ block.settings.slide | img_url: '1024x' }} 1x, {{ block.settings.slide | img_url: '1024x', scale: 2 }} 2x" alt="{{ block.settings.slide.alt }}">{% endcomment %}

          {% if block.settings.link %}
            </a>
          {% endif %}

        {% else %}
          {% capture current %}{% cycle 1, 2 %}{% endcapture %}
          {% capture svg_tag_class %}placeholder-noblocks slide-link slide-link--{{ block.id }}{% endcapture %}
          {%- assign placeholder = 'placeholder-lifestyle-' | append: current -%}
          {{ 'lifestyle-' | append: current | placeholder_svg_tag: svg_tag_class }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>

{% schema %}
  {
    "name": "Slideshow",
    "class": "slider-section",
    "max_blocks": 6,
    "settings": [
      {
        "type": "checkbox",
        "id": "slider_home_auto",
        "label": "Auto-rotate slides"
      },
      {
        "type": "select",
        "id": "slider_home_rate",
        "label": "Transition time",
        "options": [
          {
            "value": "5000",
            "label": "5 seconds"
          },
          {
            "value": "7000",
            "label": "7 seconds"
          },
          {
            "value": "10000",
            "label": "10 seconds"
          },
          {
            "value": "15000",
            "label": "15 seconds"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slideshow",
        "category": "Image",
        "blocks":[
          {
          "type": "image",
          "type": "image",
          "type": "image"
         }
        ]
      }
    ],
    "blocks" : [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "slide",
            "label": "Image",
            "info":"1000 x 500px recommended"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link URL"
          }
        ]
      }
    ]
  }
{% endschema %}
