<ul class="site-nav list--inline {{ nav_alignment }}" id="SiteNav">
  {% for link in linklists[section.settings.main_linklist].links %}
    {% comment %}
      Check if third-level nav exists on each parent link.
    {% endcomment %}
    {%- assign three_level_nav = false -%}
    {%- assign child_list_handle = link.title | handleize -%}

    {% if linklists[child_list_handle].links != blank %}
      {% for childlink in linklists[child_list_handle].links %}
        {% assign grand_child_list_handle = childlink.title | handleize %}
        {% if linklists[grand_child_list_handle].links != blank %}
          {%- assign three_level_nav = true -%}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if linklists[child_list_handle].links != blank %}
      <li class="site-nav--has-dropdown{% if three_level_nav %} site-nav--has-centered-dropdown{% endif %}{% if link.active %} site-nav--active{% endif %}" aria-has-popup="true" aria-controls="SiteNavLabel-{{ child_list_handle }}">
        <a href="{{ link.url }}" class="site-nav__link site-nav__link--main">
          {{ link.title }}
          {% include 'icon-chevron-down' %}
          <span class="visually-hidden">{{ 'layout.navigation.expand' | t }}</span>
        </a>

        <div class="site-nav__dropdown{% if three_level_nav %} site-nav__dropdown--centered{% endif %}" id="SiteNavLabel-{{ child_list_handle }}" aria-expanded="false">
          {% if three_level_nav %}
            <div class="site-nav__childlist">
              <div class="site-nav__childlist-grid">
                {% if linklists[child_list_handle].links != blank %}
                  {% for childlink in linklists[child_list_handle].links %}
                    {% assign grand_child_list_handle = childlink.title | handle %}

                    <div class="site-nav__childlist-item">
                      <a href="{{ childlink.url }}" class="site-nav__link site-nav__child-link site-nav__child-link--parent">{{ childlink.title | escape }}</a>
                      {% for grandchildlink in linklists[grand_child_list_handle].links %}
                        <ul>
                          <li>
                            <a href="{{ grandchildlink.url }}" class="site-nav__link site-nav__child-link">{{ grandchildlink.title | escape }}</a>
                          </li>
                        </ul>
                      {% endfor %}
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          {% else %}
            <ul>
              {% for childlink in linklists[child_list_handle].links %}
                <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                  <a href="{{ childlink.url }}" class="site-nav__link site-nav__child-link{% if forloop.last %} site-nav__link--last{% endif %}">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      </li>
    {% else %}
      <li {% if link.active %}class="site-nav--active"{% endif %}>
        <a href="{{ link.url }}" class="site-nav__link site-nav__link--main">{{ link.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
