<!-- snippets/featured-products.liquid -->
{% if section_number > 1 and number_of_index_sections > 1 %}
  <hr class="hr--clear">
{% endif %}

<div class="featured-products">
  {% comment %}
    By default, featured products come from your Frontpage collection.
    This collection is empty by default and must have products added to it
  {% endcomment %}
  {% if settings.home_featured_products == blank %}
    {% assign featured_collection = "frontpage" %}
  {% else %}
    {% assign featured_collection = settings.home_featured_products %}
  {% endif %}

  {% comment %}Heading for screen readers{% endcomment %}
  <h2 class="visually-hidden">{{ featured_collection }}</h2>

  <div class="grid grid--no-gutters grid--uniform collection-grid">
    {% comment %}
      Set grid item widths based on settings
    {% endcomment %}
    {% include 'product-grid-width' %}

    {% for product in collections[featured_collection].products %}
      {% assign price = product.price | money_without_trailing_zeros %}
      {% include 'product-grid-item' %}
    {% else %}
      {% comment %}
        If collection is empty, show onboarding state
        For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
      {% endcomment %}

      {% unless onboardingLoaded %}
        {% comment %}
          Only load onboarding styles if they have not already been loaded.
        {% endcomment %}
        {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
        {% assign onboardingLoaded = true %}
      {% endunless %}

      <div class="grid__item">
        <div class="helper-section">
          <div class="helper-note">
            <span class="helper-icon"></span>
            <h3>{{ 'homepage.onboarding.modal_title' | t }}</h3>
            <p>{{ 'homepage.onboarding.no_products_html' | t }}</p>
            <p><a class="admin-btn-primary" href="/admin/collections?tutorial=Frontpage">{{ 'homepage.onboarding.add_product' | t }}</a></p>
          </div>

          <div class="grid grid--uniform grid--no-gutters helper-content">
            {% assign home_onboarding_index = 1 %}
            {% for i in (1..8) %}
              {% case i %}
                {% when 7 %}
                  {% assign home_onboarding_index = 1 %}
                {% when 8 %}
                  {% assign home_onboarding_index = 2 %}
              {% endcase %}
              <div class="product-item grid__item {{ grid_item_width }}">
                <a class="product-item__link" href="/admin/products">
                  {% capture imageUrl %}//cdn.shopify.com/s/images/themes/product-{{ home_onboarding_index }}.png{% endcapture %}
                  <img src="{{ imageUrl }}" class="product-item__image">

                  <span class="product-item__meta">
                    <span class="product-item__meta__inner">
                      <p class="product-item__title">{{ 'homepage.onboarding.product_title' | t }}</p>
                      <p>$19.99</p>
                    </span>
                  </span>
                </a>
              </div>
              {% assign home_onboarding_index = home_onboarding_index | plus: 1 %}
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
