<div class="index-section home-section feature-collection feature-collection--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="feature-collection">
  <div class="wrapper wrapper--margins">

    {{assign 'collection' (get collections section.settings.collection)}}

    {{#if (isnt section.settings.heading blank)}}
      {{#if section.settings.show_view_all}}
        <div class="grid">
          <div class="grid__item large--three-quarters small--one-whole medium--one-whole">
      {{/if}}
      <h2 class="home-section-title">{{escape section.settings.heading}}</h2>
      {{#if section.settings.show_view_all}}
        </div>
          <div class="grid__item large--one-quarter small--one-whole medium--one-whole text-right medium-down--text-center view-all">
            <a href="{{ collection.url }}">
              <span>{{t 'collections.general.view_all'}}</span>
              {{include 'asset_svg' "arrow_right"}}</a>
          </div>
        </div>
      {{/if}}
    {{/if}}

    {{#is section.settings.grid 2}}
        {{assign 'grid_item_width' 'small--one-whole medium--one-half large--one-half'}}
      {{else is section.settings.grid 3}}
        {{assign 'grid_item_width' 'small--one-whole medium--one-third large--one-third'}}
      {{else is section.settings.grid 4}}
        {{assign 'grid_item_width' 'small--one-half medium--one-quarter large--one-quarter'}}
      {{else is section.settings.grid 5}}
        {{assign 'grid_item_width' 'small--one-half medium--one-third large--one-fifth'}}
      {{else}}
        {{assign 'grid_item_width' 'small--one-whole medium--one-third large--one-third'}}
    {{/is}}

    {{assign 'product_limit' (times section.settings.grid section.settings.rows)}}

     <div class="collection-list grid-uniform {{#unless (is shop.products_count 0)}} small-gutter {{/unless}}">

      {{#each (limit collection.products product_limit) as |product|}}
        {{include 'product-grid-item",' grid_item_width: grid_item_width}}
      {{else}}
        <div class="grid__item">
          <div class="helper-section">
            <div class="grid-uniform helper-content">
              {{assign 'index' 1}}
              {{#each (range 1 product_limit) as |i|}}
                <div class="product grid__item {{ grid_item_width }} text-center">
                  <a href="/admin/products" class="grid__image">
                    {{#capture 'current'}}{{cycle 1 2 3 4 5 6}}{{/capture}}
                    {{placeholder_svg_tag (append 'product-' current) 'placeholder-svg'}}
                  </a>
                  <h3>{{t 'homepage.onboarding.product_title'}}</h3>
                  <p class="price">
                    $19.99
                  </p>
                </div>
                {{assign 'index' (plus index 1)}}
              {{/each}}
            </div>
          </div>
        </div>
      {{/each}}
    </div>

  </div>
</div>

{{#schema}}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      },
      {
        "type": "range",
        "id": "grid",
        "label": "Products per row",
        "min": 2,
        "max": 5,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "rows",
        "label": "Rows",
        "min": 1,
        "max": 10,
        "step": 1,
        "default": 1
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show 'View all' button",
        "default": false
      }
    ],
    "presets":
    [
      {
        "name": "Featured collection",
        "category": "Collections",
        "settings":
        {
          "collection": "frontpage"
        }
      }
    ]
  }
{{/schema}}
