<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {{#if (isnt settings.favicon blank)}}
    <link rel="shortcut icon" href="{{img_url settings.favicon '32x32'}}" type="image/png">
  {{/if}}

  <title>
    {{ shop.name }} &ndash; {{t 'general.password_page.opening_soon'}}
  </title>

  {{#if page_description}}
    <meta name="description" content="{{escape page_description}}">
  {{/if}}

  {{include 'social-meta-tags'}}

  {{stylesheet_tag (asset_url 'theme.scss.css')}}

  <!--[if (lte IE 9) ]>{{script_tag (asset_url 'match-media.min.js')}}<![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{asset_url 'vendor.js'}}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{asset_url 'vendor.js'}}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{asset_url 'theme.js'}}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{asset_url 'theme.js'}}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{asset_url 'password.js'}}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{asset_url 'password.js'}}"></script><![endif]-->

  {{ content_for_header }}
</head>

<body class="template-password">
  <div class="password-page text-center">
    <header class="password-header" role="banner">
      <div class="password-header__inner">
        <div class="password-login">
          <a href="#LoginModal" class="js-modal-open-login-modal link--action btn btn--secondary">
            {{t 'general.password_page.password_link'}} &rarr;
          </a>
        </div>
      </div>
    </header>

    <div class="password-main text-center" role="main">
      <div class="password-main__inner">
        {{ content_for_layout }}
      </div>
    </div>
  </div>

  <div id="LoginModal" class="modal">
    <div class="modal__inner">
      <div class="modal__centered password-modal__content page-width text-center">
        <p class="password__form-heading h4">{{t 'general.password_page.login_form_heading'}}</p>
          {{#form 'storefront_password'}}
            {{default_errors form.errors}}
            <label for="password" class="label--hidden">{{t 'general.password_page.login_form_password_label'}}</label>
            <div class="input-group password__input-group">
              <input type="password" name="password" id="Password" class="input-group__field input--content-color" placeholder="{{t 'general.password_page.login_form_password_placeholder'}}">
              <span class="input-group__btn">
                <button type="submit" name="commit" class="btn btn--narrow">
                  {{t 'general.password_page.login_form_submit'}}
                </button>
              </span>
            </div>
          {{/form}}
        <p>{{t 'general.password_page.admin_link_html'}}</p>
      </div>
    </div>

    <button type="button" class="modal__close js-modal-close text-link">
      {{include 'icon-close'}}
      <span class="icon__fallback-text">{{json (t 'general.accessibility.close_modal')}}</span>
    </button>
  </div>

  <script>
    var theme = {
      strings: {
        addressError: {{json (t 'sections.map.address_error')}},
        addressNoResults: {{json (t 'sections.map.address_no_results')}},
        addressQueryLimit: {{json (t 'sections.map.address_query_limit_html')}},
        authError: {{json (t 'sections.map.auth_error_html')}}
      }
    }
  </script>

</body>
</html>
