<!-- snippets/onboarding-featured-products.liquid -->
{% if section.settings.collection_products_grid == 'collage' %}
  <div class="grid__item collage-grid__row">
    <div class="grid helper">
      {% for i in (1..3) %}
        {% capture clearfix %}{% cycle '','clearfix', '' %}{% endcapture %}
        {% capture width %}
          {% cycle 'grid__item--large one-whole medium--two-thirds large--two-thirds','grid__item--small one-whole medium--one-third large--one-third', 'grid__item--small one-whole medium--one-third large--one-third' %}
        {% endcapture %}
        <div class="grid__item {{ width }} {{ clearfix }}">
          <div class="grid-product__wrapper">
            <div class="grid-product__image-wrapper">
              <a class="grid-product__image-link" href="/admin/products">
                {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </a>
            </div>
            <a href="/admin/products" class="grid-product__meta">
              <span class="grid-product__title">{{ 'home_page.onboarding.product_title' | t }}</span>
              <span class="grid-product__price-wrap">
                <span class="long-dash">—</span>
                <span class="grid-product__price">$19.99</span>
              </span>
            </a>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
{% else %}
  <div class="grid__item">
    <div class="helper-section">
      <div class="grid-uniform helper-content">
        {% for i in (1..6) %}
          <div class="grid__item grid-product medium--one-half large--one-third">
            <div class="grid-product__wrapper">
              <div class="grid-product__image-wrapper" style="height: 600px;">
                <a class="grid-product__image-link" href="/admin/products">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </a>
              </div>
              <a href="/admin/products" class="grid-product__meta">
                <span class="grid-product__title"><em>{{ 'home_page.onboarding.product_title' | t }}</em></span>
                <span class="grid-product__price-wrap">
                  <span class="long-dash">—</span>
                  <span class="grid-product__price">$19.99</span>
                </span>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
